<div style="height: 100%;background:#fff">
  <!-- <div class="div_top_add">
    铀尾矿（渣）库信息
  </div> -->

  <nz-tabset>
    <nz-tab nzTitle="铀尾矿（渣）库信息">
      <div class="div_contain_add" style="height: calc(100% - 243px);">
        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>铀尾矿（渣）库名称 ：
            <input nz-input name="name" [(ngModel)]="data.name" class="w200" required [validation]="true"
              [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>营运单位：
            <nz-select [(ngModel)]="data.umineId" class="w200" required [validation]="true" [disabled]="isDisable">
              <nz-option *ngFor="let option of umineList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>建造年代：
            <nz-year-picker name="buildYear" [(ngModel)]="data.buildYear" class="w200" required [validation]="true"
              [disabled]="isDisable">
            </nz-year-picker>

          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>铀尾矿（渣）库等别：
            <nz-select [(ngModel)]="data.levelId" class="w200" required [validation]="true" [disabled]="isDisable">
              <nz-option *ngFor="let option of dictionary.config_umine_place_level" [nzLabel]="option.value"
                [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>设施状态：
            <nz-select [(ngModel)]="data.statusId" class="w200" required [validation]="true" [disabled]="isDisable">
              <nz-option *ngFor="let option of dictionary.config_umine_place_status" [nzLabel]="option.value"
                [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>审评状态：
            <nz-select [(ngModel)]="data.reviewStatus" class="w200" required [validation]="true" [disabled]="isDisable">
              <nz-option *ngFor="let option of dictionary.config_review_status" [nzLabel]="option.value"
                [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>许可情况：
            <nz-select [(ngModel)]="data.permitSituationId" class="w200" required [validation]="true"
              [disabled]="isDisable">
              <nz-option *ngFor="let option of dictionary.config_umine_place_permit_situation" [nzLabel]="option.value"
                [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            设计有效库容：
            <input nz-input name="capacity" [(ngModel)]="data.capacity" class="w200" [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            设计洪水重现期：
            <input nz-input name="designFloodReproduce" [(ngModel)]="data.designFloodReproduce" class="w200"
              [disabled]="isDisable" />
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            校核洪水重现期：
            <input nz-input name="checkFloodReproduce" [(ngModel)]="data.checkFloodReproduce" class="w200"
              [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            初期坝型：
            <input nz-input name="earlyDamType" [(ngModel)]="data.earlyDamType" class="w200" [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            初期坝高：
            <input nz-input name="earlyDamHeight" [(ngModel)]="data.earlyDamHeight" class="w200"
              [disabled]="isDisable" />
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>是否设置坝体监测设施：
            <nz-select [(ngModel)]="data.haveMonitor" class="w200" required [validation]="true" [disabled]="isDisable">
              <nz-option *ngFor="let option of sFList" [nzLabel]="option.value" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
          <div nz-col [nzSpan]="24" class="ta_r">
            <div class="div_bz">设施简介：</div>
            <textarea nz-input name="survey" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.survey"
              [disabled]="isDisable"></textarea>
          </div>
        </div>

        <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
          <div nz-col [nzSpan]="24" class="ta_r">
            <div class="div_bz">厂址特征：</div>
            <textarea nz-input name="feature" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.feature"
              [disabled]="isDisable"></textarea>
          </div>
        </div>

        <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
          <div nz-col [nzSpan]="24" class="ta_r">
            <div class="div_bz">备注：</div>
            <textarea nz-input name="note" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.note"
              [disabled]="isDisable"></textarea>
          </div>
        </div>

        <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isDisable"></app-attachment>

      </div>
    </nz-tab>

    <nz-tab nzTitle="安技改信息" *ngIf="isDisable">
      <div style="padding: 0 30px;">
        <div nz-row>
          <nz-table #nestedTable [nzData]="dataSet" class="commontable" [nzFrontPagination]="false"
            [nzTotal]="totalCount" [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize"
            (nzPageIndexChange)="pageIndexChange($event)" class="tablescoll_rainbow">
            <thead>
              <tr>
                <th>序号</th>
                <th>安技改时间</th>
                <th>安技改内容</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nestedTable.data;index as index ">
                <td>{{(pageIndex-1)*pageSize+1+index}}</td>
                <td>{{data.improveDate|recordtime}}</td>
                <td>{{data.improveContent}}</td>
              </tr>
            </tbody>
          </nz-table>

        </div>
      </div>
    </nz-tab>
  </nz-tabset>


  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isDisable" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>