<div style="height: 100%;">
    <div nz-row style="height: 40px;">
        <div nz-col [nzSpan]="5">
            姓名:
            <input nz-input  [(ngModel)]="name" nzSize="default"  class="w200">
        </div>
        <div nz-col [nzSpan]="5">
            所属单位：
            <input nz-input [(ngModel)]="orgName" nzSize="default"  class="w200">
        </div>
        <div nz-col [nzSpan]="5">
            到期时间：
            <nz-range-picker class="w200" [(ngModel)]="expireDate">
            </nz-range-picker>
        </div>
    
        <div nz-col [nzSpan]="4" [nzOffset]="5" class="ta_r">
            <button nz-button nzType="primary" style="width: 70px; margin-right: 10px;" (click)="search()">查询</button>
            <button nz-button nzType="default" style="width: 70px;" (click)="reset()">重置</button>
        </div>
    </div>

    <div nz-row style="height: 40px;">
        <div nz-col [nzSpan]="8">
            监督员类别：
            <nz-select [(ngModel)]="typeIds" style="width: 300px" nzMode="multiple">
                <nz-option *ngFor="let option of dictionary.config_supervisor_type" [nzLabel]="option.value" [nzValue]="option.id">
                </nz-option>
            </nz-select>
        </div>
    </div>


    <div nz-row class="div_contain">

        <div class="div_top">
            <div class="fl div_top_tip">

            </div>
            <div class="fl" style="color: #0050b3;">
                核安全监管员信息列表（共{{totalCount}}条）
            </div>

            <div class="fr">
                <button nz-button nzType="danger" nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete()">删除</button>
            </div>
            
            <div class="fr">
                <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="modify()">编辑</button>
            </div>
            
            <div class="fr">
                <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="add()">添加</button>
            </div>
<!-- 
            <div class="fr">
                    <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="goChildManage()">子项管理</button>
                </div>
     -->
        </div>
        <div>
            <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false" [nzPageIndex]="pageIndex" nzShowSizeChanger
                [nzPageSize]="pageSize" [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
                >
                <thead>
                    <tr>
                        <!-- <th   [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th> -->
                        <th>序号</th>
                        <th>姓名</th>
                        <th>出生年月</th>
                        <th>所属单位</th>
                        <th>证件类别</th>
                        <th>入职时间</th>
                        <th>职称</th>
                        <th>到期时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of nestedTable.data;index as index" [ngClass]="{'itemSeleted':data.id==selectId}" (click)="selectItem(data)">
                        <td>{{index+1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.birthday|recordtime}}</td>
                        <td>{{data.orgName}}</td>
                        <td>{{data.typeValue}}</td>
                        <td>{{data.entryDate|recordtime}}</td>
                        <td>{{data.titleName}}</td>
                        <td [ngClass]="{'expire':data.isExpire== '1'}">{{data.expireDate|recordtime}}</td>
                        <td>
                            <a (click)="show(data)">查看</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>

    </div>
</div>