<div style="height: 100%;">
    <div nz-row style="height: 40px;">
        <div nz-col [nzSpan]="5">
            专家姓名 <input nz-input nzSize="default" class="w200">
        </div>
        <div nz-col [nzSpan]="5">
            专业 <input nz-input nzSize="default" class="w200">
        </div>
        <div nz-col [nzSpan]="5">
            职称 <nz-select style="width: 200px;" [(ngModel)]="singleValue" [nzSize]="size">
                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
            </nz-select>
        </div>
        <div nz-col [nzSpan]="5">
            所属单位 <nz-select style="width: 200px;" [(ngModel)]="singleValue" [nzSize]="size">
                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
            </nz-select>
        </div>
        <div nz-col [nzSpan]="4">
            <button nz-button nzType="primary" style="width: 70px; margin-right: 10px;">查询</button>
            <button nz-button nzType="default" style="width: 70px;">重置</button>
        </div>
    </div>

    <div nz-row class="div_contain">

        <div class="div_top">
            <div class="fl div_top_tip">

            </div>
            <div class="fl" style="color: #0050b3;">
                核安全监管员信息列表（共174条）
            </div>

            <div class="fr">
                <button nz-button nzType="danger" class="delbtn">删除</button>
            </div>

            <div class="fr">
                <button nz-button nzType="primary" style=" margin-right: 10px;" class="addbtn" (click)="goChildManage()">子项管理</button>
            </div>

            <div class="fr">
                <button nz-button nzType="primary" style=" margin-right: 10px;" class="addbtn" (click)="add()">添加</button>
            </div>

        </div>
        <div>
            <nz-table #nestedTable [nzData]="dataSet" [nzPageSize]="10" class="commontable">
                <thead>
                    <tr>
                        <th nzShowCheckbox></th>
                        <th>序号</th>
                        <th>姓名</th>
                        <th nzShowSort >出生年月</th>
                        <th>所属单位</th>
                        <th nzShowSort >入职时间</th>
                        <th>职称</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template *ngFor="let data of nestedTable.data;index as index">
                        <tr>
                            <td nzShowCheckbox></td>
                            <td>{{index+1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.birthday}}</td>
                            <td>{{data.orgId}}</td>
                            <td>{{data.entryDate}}</td>
                            <td>{{data.titleId}}</td>
                            <td>
                                <a>查看</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a>编辑</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a>子项管理</a>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>