<div style="height: 100%;">
  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5" *ngIf="!isSearchShow">
      营运单位：
      <input
        nz-input
        nzSize="default"
        [(ngModel)]="serviceDepartName"
        class="w200"
        placeholder="请输入营运单位"
      />
    </div>

    <div nz-col [nzSpan]="5" *ngIf="!facId">
      设施名称：
      <input
        nz-input
        nzSize="default"
        [(ngModel)]="facName"
        class="w200"
        placeholder="请输入设施名称"
      />
    </div>

    <div nz-col [nzSpan]="5">
      设施状态：
      <nz-select
        [(ngModel)]="facStatusTypeIds"
        class="w200"
        nzAllowClear
        nzShowSearch
        nzPlaceHolder="请选择设施状态"
      >
        <nz-option
          *ngFor="let option of dictionary.config_fac_status"
          [nzLabel]="option.value"
          [nzValue]="option.id"
        >
        </nz-option>
      </nz-select>
    </div>

    <div nz-col [nzSpan]="3" [nzOffset]="6" style="float: right">
      <button
        nz-button
        nzType="primary"
        style="width: 70px; margin-right: 10px;"
        (click)="search()"
      >
        查询
      </button>
      <button nz-button nzType="default" style="width: 70px;" (click)="reset()">
        重置
      </button>
    </div>
  </div>

  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5">
      文件类型：
      <nz-select
        [(ngModel)]="fileTypeIds"
        class="w200"
        nzAllowClear
        nzShowSearch
        nzPlaceHolder="请选择文件类型"
      >
        <nz-option
          *ngFor="let option of dictionary.config_monitor_daily_file_type"
          [nzLabel]="option.value"
          [nzValue]="option.id"
        >
        </nz-option>
      </nz-select>
    </div>

    <div nz-col [nzSpan]="5">
      文件名称：
      <input
        nz-input
        nzSize="default"
        [(ngModel)]="file_name"
        class="w200"
        placeholder="请输入文件名称"
      />
    </div>

    <div nz-col [nzSpan]="10">
      文件时间：
      <nz-month-picker
        class="w200"
        [nzSize]="'size'"
        [(ngModel)]="start_date"
        nzPlaceHolder="开始日期"
      ></nz-month-picker>
      -
      <nz-month-picker
        class="w200"
        [nzSize]="'size'"
        [(ngModel)]="end_date"
        nzPlaceHolder="结束日期"
      ></nz-month-picker>
    </div>
  </div>
  <div nz-row class="div_contain">
    <div class="div_top">
      <div class="fl div_top_tip"></div>
      <div class="fl" style="color: #0050b3;">
        日常监督信息（共{{ totalCount }}条）
      </div>

      <div class="fr" *ngIf="canManage || !isSearchShow">
        <button
          nz-button
          nzType="danger"
          nz-popconfirm
          nzTitle="确定删除吗?"
          (nzOnConfirm)="delete()"
        >
          删除
        </button>
      </div>

      <div class="fr" *ngIf="canManage || !isSearchShow">
        <button
          nz-button
          nzType="primary"
          style=" margin-right: 10px;"
          (click)="modify()"
        >
          编辑
        </button>
      </div>

      <div class="fr" *ngIf="canManage || !isSearchShow">
        <button
          nz-button
          nzType="primary"
          style=" margin-right: 10px;"
          (click)="add()"
        >
          添加
        </button>
      </div>

      <div class="fr" *ngIf="canManage">
        <button
          nz-button
          nzType="primary"
          style="margin-right: 10px;"
          (click)="exportDailyMonitor()"
        >
          导出
        </button>
      </div>

      <div class="fr" *ngIf="isSearchShow == '0' && canManage">
        <app-common-import
          [uploadUrl]="uploadUrl"
          (search)="search()"
        ></app-common-import>
      </div>
    </div>
    <div>
      <nz-table
        #nestedTable
        [nzData]="dataSet"
        class="commontable tablescoll_rainbow"
        [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"
      >
        <thead>
          <tr>
            <th style="width: 5%">序号</th>
            <th style="width: 15%">营运单位</th>
            <th style="width: 15%">设施名称</th>
            <th style="width: 10%">设施状态</th>
            <th style="width: 15%">授权监管机构</th>
            <th style="width: 10%">文件类型</th>
            <th style="width: 15%">文件名称</th>
            <th style="width: 10%">文件时间</th>
            <th style="width: 5%">操作</th>
          </tr>
        </thead>
        <tbody [appPageHeight]="420">
          <tr
            *ngFor="let data of nestedTable.data; index as index"
            [ngClass]="{ true: 'itemSeleted', false: '' }[data.id == selectId]"
            (click)="selectItem(data)"
          >
            <td style="width: 5%">
              {{ (pageIndex - 1) * pageSize + 1 + index }}
            </td>
            <td
              style="width: 15%"
              nz-tooltip
              nzTitle="{{ data.serviceDepartName }}"
            >
              {{ data.serviceDepartName | tooltips: 20 }}
            </td>
            <td style="width: 15%" nz-tooltip nzTitle="{{ data.facName }}">
              {{ data.facName | tooltips: 20 }}
            </td>
            <td style="width: 10%">{{ data.statusValue }}</td>
            <td style="width: 15%" nz-tooltip nzTitle="{{ data.orgName }}">
              {{ data.orgName | tooltips: 20 }}
            </td>
            <td style="width: 10%">{{ data.fileTypeValue }}</td>
            <td style="width: 15%" nz-tooltip nzTitle="{{ data.fileName }}">
              {{ data.fileName | tooltips: 20 }}
            </td>
            <td style="width: 10%">
              {{ data.fileDate | recordtime: 'month' }}
            </td>
            <td style="width: 5%">
              <a (click)="show(data)">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
