<div style="height: 100%;background:#fff;padding: 10px;">
  <nz-tabset>

    <nz-tab nzTitle="铀矿冶单位">
      <app-umine-add [umineId]="umineId"></app-umine-add>
    </nz-tab>

    <nz-tab nzTitle="核活动许可信息">
      <app-activity [umineId]="umineId"></app-activity>
    </nz-tab>

    <nz-tab nzTitle="核活动及其他审评信息">
      <app-check-activity [umineId]="umineId"></app-check-activity>
    </nz-tab>

    <nz-tab nzTitle="监督检查信息">
      <app-check [umineId]="umineId"></app-check>
    </nz-tab>

    <nz-tab nzTitle="监督见证信息">
      <app-witness [umineId]="umineId"></app-witness>
    </nz-tab>

    <nz-tab nzTitle="铀尾矿（渣）库安全问题">
      <app-security-umineplace  [umineId]="umineId"></app-security-umineplace>
    </nz-tab>

    <nz-tab nzTitle="事故事件">
      <app-accident [umineId]="umineId"></app-accident>
    </nz-tab>
  </nz-tabset>


  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>