<div style="height: 100%;background:#fff">
  <!-- <div class="div_top_add">
    核设施审评信息 
  </div> -->

  <nz-tabset>
    <nz-tab nzTitle="核设施审评信息">
      <div class="div_contain_add_tab" *ngIf="isShow==false">

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="3" class="ta_r">
            <span class="clo_r">*</span>营运单位：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <nz-select [(ngModel)]="data.serviceId" style="width: 100%" (ngModelChange)="serviceDepartChange($event)"
              required [validation]="true">
              <nz-option *ngFor="let option of serviceDepartList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
            <span class="clo_r">*</span>设施名称：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <nz-select [(ngModel)]="data.facId" style="width: 100%" required [validation]="true">
              <nz-option *ngFor="let option of facList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>


        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="3" class="ta_r">
            <span class="clo_r">*</span>审评类型：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <nz-select [(ngModel)]="data.typeId" style="width: 100%" required [validation]="true">
              <nz-option *ngFor="let option of dictionary.config_fac_check_type" [nzLabel]="option.value"
                [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
            <span class="clo_r">*</span>审评阶段：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <nz-select [(ngModel)]="data.stageId" style="width: 100%" required [validation]="true">
              <nz-option *ngFor="let option of dictionary.config_fac_check_stage" [nzLabel]="option.value"
                [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
            审评时间：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <nz-date-picker [(ngModel)]="data.checkDate"></nz-date-picker>
          </div>
        </div>

        <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

      </div>

      <div class="div_contain_add_tab" *ngIf="isShow==true">

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="3" class="ta_r">
            营运单位：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <span name="serviceDepartName" class="showText">{{data.serviceDepartName}}</span>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
            设施名称：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <span name="facName" class="showText">{{data.facName}}</span>
          </div>
        </div>


        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="3" class="ta_r">
            审评类型：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <span name="typeValue" class="showText">{{data.typeValue}}</span>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
            审评阶段：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <span name="stageValue" class="showText">{{data.stageValue}}</span>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
            审评时间：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <span name="checkDate" class="showText">{{data.checkDate|recordtime}}</span>
          </div>
        </div>

        <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

      </div>
    </nz-tab>

    <nz-tab nzTitle="审评文件" *ngIf="!isAdd">
      <app-fac-file></app-fac-file>
    </nz-tab>

  </nz-tabset>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>