<div class="header">
  <div nz-row [nzType]="'flex'" [nzAlign]="'top'">
    <div nz-col [nzSpan]="6" style="font-size: 18px;">
      <img src="../../../../assets/images/index_01.png" style="margin-right: 10px;">
      核安全数据库
    </div>
    <div nz-col [nzSpan]="18" style="text-align: right;">
      <img src="../../../../assets/images/index_03.png">
      <span style="margin-left: 8px;">admin&nbsp;&nbsp;XXX单位&nbsp;&nbsp;XXX科室</span>
      <nz-divider nzType="vertical" style="margin: 0 16px 0 35px;;height: 24px;width: 1px;"></nz-divider>



      <a nz-popover class="func-button" [nzContent]="contentTemplate" nzPlacement="bottomRight">
        <img src="../../../../assets/images/index_05.png" alt="">
      </a>
     
      <a class="func-button">
        <img src="../../../../assets/images/index_07.png" alt="">
      </a>
      <a (click)="exitSystem()" class="func-button" title="退出">
        <img src="../../../../assets/images/index_09.png" alt="">
      </a>

      <ng-template #contentTemplate>
        <div>
            法规标准数据库
        </div>
        <div>
            放射性废物治理数据库
        </div>
      </ng-template>

    </div>
  </div>

  <div>
    <app-nav-menu [navMenu]="navMenu"></app-nav-menu>
  </div>

</div>