<div class="header">
  <img src="../../../../assets/images/header/header_title.png" alt="">
  <div class="right-container">
    <div class="content">
      <img src="../../../../assets/images/header/icon_user.png" alt="">
      <span style="margin-left: 8px;color: #4381E6;">胶州市自然资源局&nbsp;&nbsp;系统管理员</span>
    </div>
    <nz-divider nzType="vertical" style="margin:0 16px;height: 24px;width: 2px;"></nz-divider>
    <div class="content">
      <a class="func-button" title="帮助">
        <img src="../../../../assets/images/header/icon_help.png" alt="">
      </a>
      <a class="func-button" title="设置">
        <img src="../../../../assets/images/header/icon_setting.png" alt="">
      </a>
      <a (click)="exitSystem()" class="func-button" title="退出">
        <img src="../../../../assets/images/header/icon_exit.png" alt="">
      </a>
    </div>
  </div>
</div>
