.header {
  height: 100%;
  width: 100%;
  padding: 0 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;

  .right-container {
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;

    .content {
      display: flex;
      align-items: center;

      .func-button {
        margin: 0 16px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
