<div style="height: 100%;">
  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5" *ngIf="!isSearchShow">
      核设备单位：
      <input
        nz-input
        nzSize="default"
        [(ngModel)]="equipDepartName"
        class="w200"
      />
    </div>

    <div nz-col [nzSpan]="5">
      设备名称：
      <input nz-input nzSize="default" [(ngModel)]="name" class="w200" />
    </div>

    <div nz-col [nzSpan]="5">
      营运单位：
      <input
        nz-input
        nzSize="default"
        [(ngModel)]="serviceDepartName"
        class="w200"
      />
    </div>

    <div nz-col [nzSpan]="5">
      设施名称：
      <input nz-input nzSize="default" [(ngModel)]="facName" class="w200" />
    </div>

    <div nz-col [nzSpan]="4" class="ta_r" style="float: right">
      <button
        nz-button
        nzType="primary"
        style="width: 70px; margin-right: 10px;"
        (click)="search()"
      >
        查询
      </button>
      <button nz-button nzType="default" style="width: 70px;" (click)="reset()">
        重置
      </button>
    </div>
  </div>

  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5">
      检查类型：
      <nz-select [(ngModel)]="checkTypeIds" class="w200">
        <nz-option
          *ngFor="let option of dictionary.config_security_check_type"
          [nzLabel]="option.value"
          [nzValue]="option.id"
        >
        </nz-option>
      </nz-select>
    </div>

    <div nz-col [nzSpan]="4">
      问题内容：
      <input nz-input nzSize="default" [(ngModel)]="content" class="w150" />
    </div>

    <div nz-col [nzSpan]="5">
      发现时间：
      <nz-range-picker class="w200" [(ngModel)]="find_date"> </nz-range-picker>
    </div>

    <div nz-col [nzSpan]="5">
      问题类别：
      <nz-select [(ngModel)]="questionTypeIds" class="w200">
        <nz-option
          *ngFor="let option of dictionary.config_equip_security_question_type"
          [nzLabel]="option.value"
          [nzValue]="option.id"
        >
        </nz-option>
      </nz-select>
    </div>

    <div nz-col [nzSpan]="5">
      整改状态：
      <nz-select [(ngModel)]="reformStatusTypeIds" class="w200">
        <nz-option
          *ngFor="let option of dictionary.config_security_reform_status"
          [nzLabel]="option.value"
          [nzValue]="option.id"
        >
        </nz-option>
      </nz-select>
    </div>
  </div>

  <div nz-row class="div_contain">
    <div class="div_top">
      <div class="fl div_top_tip"></div>
      <div class="fl" style="color: #0050b3;">
        核安全设备安全问题信息（共{{ totalCount }}条）
      </div>

      <div class="fr" *ngIf="!isSearchShow">
        <button
          nz-button
          nzType="danger"
          nz-popconfirm
          nzTitle="确定删除吗?"
          (nzOnConfirm)="delete()"
        >
          删除
        </button>
      </div>

      <div class="fr" *ngIf="!isSearchShow">
        <button
          nz-button
          nzType="primary"
          style=" margin-right: 10px;"
          (click)="modify()"
        >
          编辑
        </button>
      </div>

      <div class="fr" *ngIf="!isSearchShow">
        <button
          nz-button
          nzType="primary"
          style=" margin-right: 10px;"
          (click)="add()"
        >
          添加
        </button>
      </div>
    </div>
    <div>
      <nz-table
        #nestedTable
        [nzData]="dataSet"
        class="commontable tablescoll_rainbow"
        [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"
      >
        <thead>
          <tr>
            <th style="width: 5%">序号</th>
            <th style="width: 15%">核设备单位</th>
            <th style="width: 15%">设备名称</th>
            <th style="width: 10%">营运单位</th>
            <th style="width: 10%">设施名称</th>
            <th style="width: 10%">检查类型</th>
            <th style="width: 10%">问题内容</th>
            <th style="width: 10%">发现时间</th>
            <th style="width: 10%">问题类别</th>
            <th style="width: 10%">整改状态</th>
            <th style="width: 5%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of nestedTable.data; index as index"
            [ngClass]="{ true: 'itemSeleted', false: '' }[data.id == selectId]"
            (click)="selectItem(data)"
          >
            <td style="width: 5%">
              {{ (pageIndex - 1) * pageSize + 1 + index }}
            </td>
            <td
              style="width: 15%"
              nz-tooltip
              nzTitle="{{ data.equipDepartName }}"
            >
              {{ data.equipDepartName | tooltips: 15 }}
            </td>
            <td style="width: 15%" nz-tooltip nzTitle="{{ data.name }}">
              {{ data.name | tooltips: 15 }}
            </td>
            <td style="width: 10%">
              {{ data.serviceDepartName }}
            </td>
            <td style="width: 10%">
              {{ data.facName }}
              </td>
            <td style="width: 10%">{{ data.checkTypeValue }}</td>
            <td style="width: 10%" nz-tooltip nzTitle="{{ data.content }}">
              {{ data.content | tooltips: 5 }}
            </td>
            <td style="width: 10%">{{ data.findDate | recordtime }}</td>
            <td style="width: 10%">{{ data.questionTypeValue }}</td>
            <td style="width: 10%">{{ data.reformStatusTypeValue }}</td>
            <td style="width: 5%">
              <a (click)="show(data)">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
