.check_style{
    float: left;
    height: 200px;
    line-height: 200px;
    margin-right: 30px;
    font-size: 16px;
}

.limitTips{
    margin-left: 100px;
    margin-bottom: 10px;
    color: #f5222d;
}

.file_item_btn {
    float: right;
    margin-top: 9px;
    margin-right: 10px;
    cursor: pointer;
  }