<!-- <div style="padding: 0 0 0 50px;"> -->
<div *ngIf="fileList&&fileList.length>0||!isDisable">
  <nz-upload *ngIf="!isDisable" [nzAction]="uploadUrl" [nzFileList]="fileList" [nzCustomRequest]="customReq"
    [nzShowUploadList]="false" [nzMultiple]="true" [nzLimit]="3" [nzSize]="10240">
    <i nz-icon type="plus" class="upload_i"></i>
    <div class="ant-upload-text">上传附件</div>
  </nz-upload>

  <div *ngIf="isDisable" class="check_style">
    附件
  </div>

  <div [ngClass]="{'file_div':!isDisable,'file_div_check':isDisable}">
    <div *ngFor="let fileItem of fileList">
      <div class="file_item">
        <i nz-icon type="paper-clip" theme="outline" class="flie_item_pic"></i>
        <span nz-tooltip nzTitle={{fileItem.name}}>{{fileItem.name|tooltips:10}}</span>
        <i nz-icon type="download" theme="outline" (click)="downloadAccessory(fileItem)"></i>
        <i nz-icon type="close" style="color: red;" theme="outline" class="file_item_delete" *ngIf="!isDisable"
          nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="RemoveAttachment(fileItem)"></i>
      </div>
    </div>
  </div>

</div>