<div style="height: 100%;">
  <div nz-row class="div_contain">

    <div class="div_top">
      <div class="fl div_top_tip">

      </div>
      <div class="fl" style="color: #0050b3;">
        国防科工局基本信息（共{{totalCount}}条）
      </div>

      <div class="fr" *ngIf="canManage">
        <button nz-button nzType="danger" nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete()">删除</button>
      </div>

      <div class="fr" *ngIf="canManage">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="modify()">编辑</button>
      </div>

      <div class="fr" *ngIf="canManage">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="add()">添加</button>
      </div>

      <div class="fr" *ngIf="canManage">
        <button nz-button nzType="primary" style="margin-right: 10px;" (click)="exportSastind()">导出</button>
      </div>

      <div class="fr" style="margin-right: 10px;" *ngIf="canManage">
        <nz-upload [nzAction]="uploadUrl" [nzCustomRequest]="customReq"   [nzAccept]="'.xls,.xlsx'"
          [nzShowUploadList]="false">
          <button nz-button class="importBtn">
            <i nz-icon type="upload"></i><span>导入</span>
          </button>
        </nz-upload>
      </div>

    </div>
    <div>
      <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)">
        <thead>
          <tr>
            <th>司局名称</th>
            <th>司领导</th>
            <th>分管核安全司领导</th>
            <th>核安全许可处室领导</th>
            <th>核安全监督处室领导</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nestedTable.data;index as index"
            [ngClass]="{true:'itemSeleted',false:''}[data.id==selectId]" (click)="selectItem(data)">
            <td>{{data.name}}</td>
            <td>{{data.leader}}</td>
            <td>{{data.securityLeader}}</td>
            <td>{{data.permitLeader}}</td>
            <td>{{data.superviseLeader}}</td>
            <td>
              <a (click)="show(data)">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </div>
</div>