
.login_div{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(../../../../assets/images/login/login_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.login_title{
  height: 240px;
  width: 640px;
  position: absolute;
  left: 10%;
  top: 27%;
  background-image: url(../../../../assets/images/login/login_title_bg.png);
  background-repeat: no-repeat;
}

.login_contain{
  padding: 140px 55px 0 65px;
  right: 9%;
  position: absolute;
  top: 20%;
  height: 520px;
  width: 420px;
  background-image: url(../../../../assets/images/login/login_03.png);
  background-repeat: no-repeat;
}

.login_input{
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 40px!important;
}

.login_btn{
  height: 50px;
  width: 170px;
  border-radius: 35px;
  margin-top:40px;
  font-size: 18px;
}



