<div class="login_div">
  <!--标题-->
  <div class="login_title" nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
    <div nz-col [nzSpan]="24" style="text-align: center;">
      <span style="font-size: 48px;color: white; font-weight: bold;">{{
        title
      }}</span>
    </div>
  </div>

  <!--登录-->
  <div class="login_contain">
    <div>
      <nz-input-group [nzPrefix]="prefixUser">
        <input nz-input placeholder="请输入用户名" class="login_input" [(ngModel)]="username" />
      </nz-input-group>
    </div>

    <div>
      <nz-input-group [nzPrefix]="prefixPsw">
        <input nz-input type="password" placeholder="请输入密码" class="login_input" [(ngModel)]="password" />
      </nz-input-group>
    </div>

    <div>
      <nz-input-group [nzPrefix]="prefixIdy" [nzSuffix]="suffixIdy">
        <input nz-input placeholder="请输入验证码" class="login_input" [(ngModel)]="code" id="verify" />
      </nz-input-group>
    </div>

    <div style="color: #ff2828;height: 0;">
      {{ loginMessage }}
    </div>

    <div style="text-align: center;">
      <button nz-button nzType="primary" class="login_btn" [nzLoading]="isLogining" (click)="login()">
        登&nbsp;录
      </button>
    </div>

    <ng-template #prefixUser>
      <img src="./../../../../assets/images/login/login_user.png" style="margin-top: -20px;" />
    </ng-template>
    <ng-template #prefixPsw>
      <img src="./../../../../assets/images/login/login_psw.png" style="margin-top: -20px;" />
    </ng-template>
    <ng-template #prefixIdy>
      <img src="./../../../../assets/images/login/login_idf.png" style="margin-top: -20px;" />
    </ng-template>

    <ng-template #suffixIdy>
      <!-- <img [src]="getVerifyCode" class="login_idy" (click)="changeVerifyCode()" title="换一张"/> -->
      <canvas width="100" height="40" id="verifyCanvas"></canvas>
      <img id="code_img" style="    margin-bottom: 20px;
      margin-right: -8px;cursor: pointer;" />
    </ng-template>
  </div>
  <!-- <div class="login_copy1">
  
  </div> -->
  <div class="login_copy2">
    {{ copyright }}&nbsp;&nbsp;&nbsp;&nbsp;{{ support }}
  </div>
  <div class="login_copy3">
      （为了获得更好的用户体验，请使用谷歌、360浏览器极速模式、火狐或IE10以上版本的浏览器）
  </div>

  <!-- <div (mouseenter)="showTip=true" (mouseleave)="showTip=false" class="div_tips" [ngStyle]="{'background':showTip?'#717171':'none'}">
    <div *ngIf="showTip" >
      为了获得更好的用户体验，请使用谷歌、360浏览器极速模式、火狐或IE10以上版本的浏览器。</div>
  </div> -->
</div>