
.login_div{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(../../../../assets/images/login/login_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.login_title{
  height: 240px;
  width: 640px;
  position: absolute;
  left: 10%;
  top: 27%;
  background-image: url(../../../../assets/images/login/login_title_bg.png);
  background-repeat: no-repeat;
}

.login_contain{
  padding: 140px 55px 0 65px;
  right: 9%;
  position: absolute;
  top: 20%;
  height: 520px;
  width: 420px;
  background-image: url(../../../../assets/images/login/login_03.png);
  background-repeat: no-repeat;
}

.login_input{
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 40px!important;
}

.login_btn{
  height: 50px;
  width: 170px;
  border-radius: 35px;
  margin-top:40px;
  font-size: 18px;
}

.login_idy{
  height: 32px;
  margin-bottom: 20px;
  cursor: pointer;
}


.login_copy1{
  position: absolute;
  bottom: 42px;
  color: #ffffff;
  left: calc(50% - 283px);
  font-size: 13px;
}

.login_copy2{
  position: absolute;
    bottom: 24px;
    left: calc(50% - 144px);
    color: #ffffff;
    font-size: 13px;
}

.login_copy3{
  position: absolute;
  bottom: 7px;
  left: calc(50% - 297px);
  color: #ffffff;
  font-size: 13px;
}

.div_tips{
  width: 80%;
  line-height: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 100;
  color: #ffffff;
  left: 10%;
  background: #717171;
  opacity: 0.8;
}
