<div class="login_div">

  <!--标题-->
  <div class="login_title" nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
    <div nz-col [nzSpan]="24" style="text-align: center;">
      <img src="./../../../../assets/images/login/login_title.png" />
    </div>
  </div>

  <!--登录-->
  <div class="login_contain">

    <div>
      <nz-input-group [nzPrefix]="prefixUser">
        <input nz-input placeholder="请输入用户名" class="login_input">
      </nz-input-group>
    </div>

    <div>
      <nz-input-group [nzPrefix]="prefixPsw">
        <input nz-input placeholder="请输入密码" class="login_input">
      </nz-input-group>
    </div>

    <div>
      <nz-input-group [nzPrefix]="prefixIdy">
        <input nz-input placeholder="请输入验证码" class="login_input">
      </nz-input-group>
    </div>

    <div style="text-align: center;">
        <button nz-button nzType="primary" class="login_btn">登&nbsp;录</button>
    </div>


    <ng-template #prefixUser>
      <img src="./../../../../assets/images/login/login_user.png" style="margin-top: -20px;"/>
    </ng-template>
    <ng-template #prefixPsw>
      <img src="./../../../../assets/images/login/login_psw.png" style="margin-top: -20px;"/>
    </ng-template>
    <ng-template #prefixIdy>
      <img src="./../../../../assets/images/login/login_idf.png" style="margin-top: -20px;"/>
    </ng-template>
  </div>

</div>