.login-layout {
  height: 100%;
  width: 100%;
  padding-right: 80px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../../../../assets/images/login/login_bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .login-form {
      width: 360px;
      padding: 8px;
      margin-top: 90px;

      .login-button {
        width: 120px;
        border: none;
        outline: none;
        color: #ffffff;
        background: linear-gradient(to right, #856EFC, #1E66DC);
        float: right;
      }
    }
  }
}

:host ::ng-deep .ant-input {
  width: 100%;
  padding-left: 65px !important;
  border: none;
  border-radius: 40px;
  background-color: #E9F0FB;
}
