<div style="height: 100%;background:#fff">
  <div class="div_top">
    监督员培训信息
  </div>

  <div class="div_contain">
    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>培训班次：
        <input nz-input name="batch" [(ngModel)]="data.batch" class="w200" required [validation]="true" [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>培训开始时间：
        <nz-date-picker [(ngModel)]="data.beginDate" class="w200" name="beginDate" required [validation]="true" [disabled]="isDisable">
        </nz-date-picker>
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>培训结束时间：
        <nz-date-picker [(ngModel)]="data.endDate" class="w200" name="endDate" required [validation]="true" [disabled]="isDisable">
        </nz-date-picker>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>培训地点：
        <input nz-input [(ngModel)]="data.place" class="w200" name="place" required [validation]="true" [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        参培人数：
        <input nz-input [(ngModel)]="data.number" validation="true" [validationType]="'nullnumber'" class="w200" name="number" [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        培训内容及讲师：
        <input nz-input [(ngModel)]="data.content" class="w200" name="content" [disabled]="isDisable" />
      </div>
    </div>

    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">

      <div nz-col [nzSpan]="8" class="ta_r">
        录入人 ：
        <input nz-input name="name1" [(ngModel)]="staffObj.name" class="w200" disabled/>
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        录入时间：
        <nz-date-picker [(ngModel)]="data.createDate" name="createDate" class="w200" disabled>
        </nz-date-picker>
      </div>
    </div>


    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="24" class="ta_r">
        <div class="div_bz">备注：</div>
        <textarea nz-input name="note" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.note" [disabled]="isDisable"></textarea>
      </div>
    </div>

  </div>

  <div style="padding:0 50px;">
    <nz-upload [nzAction]="uploadUrl" [nzCustomRequest]="customReq" [nzFileList]="fileList" [nzShowUploadList]="false" [nzDisabled]="isDisable">
      <i nz-icon type="plus" class="upload_i"></i>
      <div class="ant-upload-text">上传附件</div>
    </nz-upload>

    <div class="file_div">
      <div *ngFor="let fileItem of fileList">
        <div class="file_item">
          <i nz-icon type="paper-clip" theme="outline" class="flie_item_pic"></i>
          <span>{{fileItem.name}}</span>
          <i nz-icon type="close" theme="outline" class="file_item_delete" *ngIf="!isDisable" (click)="RemoveAttachment(fileItem.uid)"></i>
        </div>
      </div>
    </div>

  </div>


  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
    </ng-template>
  </nz-modal>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" style="margin-right: 10px;" [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>