<div style="height: 100%;background:#fff">
  <div class="div_top_add">
    铀尾矿（渣）库许可信息
  </div>
  <div class="div_contain_add" *ngIf="isShow==false">

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>营运单位：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.umineId" style="width: 100%"  required [validation]="true" (ngModelChange)="changeunitUminePlaces($event)">
          <nz-option *ngFor="let option of unitUmines" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>铀尾矿（渣）库名称：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.uminePlaceId" style="width: 100%"  required [validation]="true">
          <nz-option *ngFor="let option of unitUminePlaces" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>许可阶段：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.stageId" style="width: 100%" required [validation]="true">
          <nz-option *ngFor="let option of dictionary.config_umine_place_permit_stage" [nzLabel]="option.value"
            [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>许可文号：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <input nz-input name="licence" [(ngModel)]="data.licence" required [validation]="true" />
      </div>
    </div>


    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>许可时间：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-date-picker name="permitDate" [(ngModel)]="data.permitDate" required [validation]="true">
        </nz-date-picker>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        有效期限：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-date-picker name="validateTime" [(ngModel)]="data.validateTime">
        </nz-date-picker>
      </div>
    </div>

    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="4" class="ta_r">
        许可条件：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="permitCondition" style="height: 70px;" [(ngModel)]="data.permitCondition"></textarea>
      </div>
    </div>

    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="4" class="ta_r">
        审评承诺：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="reviewPromise" style="height: 70px;" [(ngModel)]="data.reviewPromise"></textarea>
      </div>
    </div>

    <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isDisable"></app-attachment>
  </div>

  <div class="div_contain_add" *ngIf="isShow==true">

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>营运单位：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="umineName" class="showText">{{data.umineName}}</span>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>铀尾矿（渣）库名称：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="uminePlaceName" class="showText">{{data.uminePlaceName}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>许可阶段：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="stageValue" class="showText">{{data.stageValue}}</span>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>许可文号：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="licence" class="showText">{{data.licence}}</span>
      </div>
    </div>


    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>许可时间：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="permitDate" class="showText">{{data.permitDate|recordtime}}</span>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>有效期限：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="validateTime" class="showText">{{data.validateTime|recordtime}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="4" class="ta_r">
        许可条件：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <div  class="showTextArea">{{data.permitCondition}}</div>
      </div>
    </div>

    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="4" class="ta_r">
        审评承诺：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <div  class="showTextArea">{{data.reviewPromise}}</div>
      </div>
    </div>

    <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>
  </div>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">
      保存
    </button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>