<div style="height: 100%;background:#fff">
  <div class="div_top_add">
    核安全监督专家信息
  </div>
  <!--新增和编辑页面-->
  <div class="div_contain_add" *ngIf="isShow==false">
    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="3" class="ta_r">
        <span class="clo_r">*</span>姓名：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <input nz-input name="name" [(ngModel)]="data.name" required [validation]="true" />
      </div>

    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="3" class="ta_r">
        <span class="clo_r">*</span>身份证号：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <input nz-input name="identity" [(ngModel)]="data.identity" [validation]="true" [validationType]="'nullidcard'"
          (ngModelChange)="identityChange($event)" />
      </div>

      <div nz-col [nzSpan]="3" class="ta_r">
        <span class="clo_r">*</span>性别：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <nz-radio-group [(ngModel)]="sexValue">
          <label nz-radio nzValue="1">男</label>
          <label nz-radio nzValue="0">女</label>
        </nz-radio-group>
      </div>

      <div nz-col [nzSpan]="3" class="ta_r">
        年龄：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <input nz-input name="age" [(ngModel)]="age" disabled />
      </div>
    </div>


    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="3" class="ta_r">
        <span class="clo_r">*</span>专业：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <input nz-input name="major" [(ngModel)]="data.major" required [validation]="true" />
      </div>

      <div nz-col [nzSpan]="3" class="ta_r">
        <span class="clo_r">*</span>职称：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <nz-select [(ngModel)]="data.titleId" class="w200" required [validation]="true">
          <nz-option *ngFor="let option of dictionary.config_title" [nzLabel]="option.value" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="3" class="ta_r">
        <span class="clo_r">*</span>联系方式：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <input nz-input name="contact" [(ngModel)]="data.contact" required [validation]="true"
          [validationType]="'phonenumber'" />
      </div>

      <div nz-col [nzSpan]="3" class="ta_r">
        <span class="clo_r">*</span>所属单位：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <input nz-input name="org" [(ngModel)]="data.org" class="w200" required [validation]="true" />
      </div>
    </div>


    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="3" class="ta_r">
        备注：
      </div>
      <div nz-col [nzSpan]="21" class="ta_l">
        <textarea nz-input name="note" [(ngModel)]="data.note" style="height: 70px;"></textarea>
      </div>
    </div>
  </div>


  <!--显示页面-->
  <div class="div_contain_add" *ngIf="isShow==true">
    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="3" class="ta_r">
        姓名：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <span name="name" class="showText">{{data.name}}</span>
      </div>

    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="3" class="ta_r">
        身份证号：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <span name="identity" class="showText">{{data.identity}}</span>
      </div>

      <div nz-col [nzSpan]="3" class="ta_r">
        <span class="clo_r">*</span>性别：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <span name="sexValue" class="showText">{{data.sex|sex}}</span>
      </div>

      <div nz-col [nzSpan]="3" class="ta_r">
        年龄：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <span name="age" class="showText">{{age}}</span>
      </div>
    </div>


    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="3" class="ta_r">
        专业：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <span name="major" class="showText">{{data.major}}</span>
      </div>

      <div nz-col [nzSpan]="3" class="ta_r">
        职称：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <span name="title" class="showText">{{data.titleValue}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="3" class="ta_r">
        联系方式：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <span name="contact" class="showText">{{data.contact}}</span>
      </div>

      <div nz-col [nzSpan]="3" class="ta_r">
        所属单位：
      </div>
      <div nz-col [nzSpan]="5" class="ta_l">
        <span name="org" class="showText">{{data.org}}</span>
      </div>
    </div>


    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="3" class="ta_r">
        备注：
      </div>
      <div nz-col [nzSpan]="21" class="ta_l">
        <div   nzPlacement="topLeft" class="showTextArea">{{data.note}}</div>
      </div>
    </div>
  </div>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>