<div style="height: 100%;background:#fff">

  <nz-tabset>
    <nz-tab nzTitle="铀矿山井下消防审查信息">
      <div class="div_contain_add_tab" *ngIf="isShow==false">

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="3" class="ta_r">
            <span class="clo_r">*</span>营运单位：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <nz-select [(ngModel)]="data.umineId" style="width: 100%" (ngModelChange)="umineChange($event)" 
            required [validation]="true" nzAllowClear nzShowSearch nzPlaceHolder="请选择营运单位">
              <nz-option *ngFor="let option of umineList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
              <span class="clo_r">*</span>铀矿山名称：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <nz-select [(ngModel)]="data.umineMountainId" style="width: 100%" required [validation]="true" nzAllowClear nzShowSearch nzPlaceHolder="请选择铀矿山">
              <nz-option *ngFor="let option of uminemountainList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>

          <div nz-col [nzSpan]="3" class="ta_r">
            审查时间：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <nz-month-picker name="checkDate" [(ngModel)]="data.checkDate">
            </nz-month-picker>
          </div>

        </div>


        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="3" class="ta_r">
            <span class="clo_r">*</span>审查内容：
          </div>
          <div nz-col [nzSpan]="21" class="ta_l">
            <textarea nz-input name="content" style="height: 70px;" [(ngModel)]="data.content" required [validation]="true">
          </textarea>
          </div>
        </div>

        <!-- <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment> -->

      </div>

      <div class="div_contain_add_tab" *ngIf="isShow==true">

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="3" class="ta_r">
            <span class="clo_r">*</span>营运单位：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <span name="umineName" class="showText">{{data.umineName}}</span>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
            设施名称：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <span name="umineMountainName" class="showText">{{data.umineMountainName}}</span>
          </div>
          <div nz-col [nzSpan]="3" class="ta_r">
            审查时间：
          </div>
          <div nz-col [nzSpan]="5" class="ta_l">
            <span name="checkDate" class="showText">{{data.checkDate|recordtime}}</span>
          </div>
        </div>


        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="3" class="ta_r">
            <span class="clo_r">*</span>审查内容：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <div  class="showTextArea">{{data.content}}</div>
          </div>
        </div>

        <!-- <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment> -->

      </div>
    </nz-tab>

    <nz-tab nzTitle="审查文件" *ngIf="!isAdd">
      <app-uminemountain-file></app-uminemountain-file>
    </nz-tab>

  </nz-tabset>


  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>