<nz-layout class="content-layout">
  <nz-content class="center-content">
    <nz-layout style="height: 100%;width: 100%;">
      <nz-sider [nzWidth]="330" style="background: #FFFFFF;padding: 8px;">
        <h2>组织机构</h2>
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue">
        </nz-input-group>
        <ng-template #suffixIcon>
          <i nz-icon type="search"></i>
        </ng-template>
        <nz-tree #orgTree class="organization-tree" [nzData]="nodes" [nzShowLine]="'true'" [nzMultiple]="'false'"
          [nzSearchValue]="searchValue" (nzSearchValueChange)="searchTreeData($event)"
          (nzContextMenu)="openContextMenu($event, contextTemplate)">
          <ng-template #contextTemplate>
            <ul nz-menu nzInDropDown style="min-width: 80px;text-align: left;padding: 0 8px;">
              <li nz-menu-item (click)="selectDropdown('add')">添加</li>
              <nz-divider style="margin:0;"></nz-divider>
              <li nz-menu-item (click)="selectDropdown('edit')">编辑</li>
              <nz-divider style="margin:0;"></nz-divider>
              <li nz-menu-item (click)="selectDropdown('delete')">删除</li>
            </ul>
          </ng-template>
        </nz-tree>
      </nz-sider>
      <nz-content style="background: #F2F2F2;padding: 0 16px;">
        <nz-tabset>
          <nz-tab [nzTitle]="'机构管理'">
            <form nz-form class="organization-form">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="orgType">类型</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group [(ngModel)]="radioValue1" name="orgType">
                    <label nz-radio nzValue="A">组织</label>
                    <label nz-radio nzValue="B">部门</label>
                    <label nz-radio nzValue="C">文件夹</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>级别</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-radio-group [(ngModel)]="radioValue2" name="orgLevel">
                    <label nz-radio nzValue="A">省级</label>
                    <label nz-radio nzValue="B">市级</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>名称</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input name="orgName">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>管理区</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select [(ngModel)]="singleValue" name="orgRegion" nzShowSearch nzAllowClear>
                    <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">排序编号</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="orgDataForm.controls['phoneNumber']">
                  <nz-input-number name="sort" [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="100" [nzStep]="1">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website">地图图层</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select [(ngModel)]="multipleValue" name="mapLayers" nzMode="multiple"
                    nzPlaceHolder="Please select" nzAllowClear>
                    <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item nz-row style="margin-bottom:8px;text-align: right;">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <button nz-button nzType="primary" [nzShape]="'round'">保存</button>
                  <button nz-button nzType="danger" [nzShape]="'round'" style="margin-left: 8px;"
                    (click)="confirmDelete()">删除</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </nz-tab>
          <nz-tab [nzTitle]="'人员管理'">
            <div nz-row [nzGutter]="8" class="staff-search-condition">
              <div nz-col [nzSpan]="7">
                <nz-input-group [nzAddOnBefore]="'人员状态'" class="with-label-input">
                  <nz-select [(ngModel)]="singleValue" name="staffStatus" nzShowSearch nzAllowClear style="width:100%;">
                    <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value">
                    </nz-option>
                  </nz-select>
                </nz-input-group>
              </div>
              <div nz-col [nzSpan]="7">
                <nz-input-group [nzAddOnBefore]="'人员状态'" class="with-label-input">
                  <nz-select [(ngModel)]="singleValue" name="staffStatus" nzShowSearch nzAllowClear style="width:100%;">
                    <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value">
                    </nz-option>
                  </nz-select>
                </nz-input-group>
              </div>
              <div nz-col [nzSpan]="8">
                <input nz-input name="searchKey" style="width:100%;">
              </div>
              <div nz-col [nzSpan]="2">
                <button nz-button nzType="primary" [nzShape]="'round'">搜索</button>
              </div>
            </div>
            <div nz-row style="margin-bottom: 8px;">
              <div nz-col [nzSpan]="12" style="text-align: left;">
                <button nz-button nzType="primary" [nzShape]="'round'">
                  <i class="fa fa-address-card-o" aria-hidden="true" style="margin-right: 8px;"></i>生成电子档案
                </button>
              </div>
              <div nz-col [nzSpan]="12" style="text-align: right;">
                <button nz-button nzType="primary" [nzShape]="'round'" style="background-color: #06AF63;border: none;">
                  <i class="fa fa-upload" aria-hidden="true" style="margin-right: 8px;"></i>导出
                </button>
                <button nz-button nzType="primary" [nzShape]="'round'"
                  style="margin-left: 8px;background-color: #FF932D;border: none;">
                  <i class="fa fa-download" aria-hidden="true" style="margin-right: 8px;"></i>导入
                </button>
                <button nz-button nzType="primary" [nzShape]="'round'" style="margin-left: 8px;">
                  <i class="fa fa-plus" aria-hidden="true" style="margin-right: 8px;"></i>人员录入
                </button>
              </div>
            </div>
            <div nz-row>
              <nz-table #nzTable [nzData]="dataSet" [nzPageSize]="20" [nzPageIndex]="1" [nzShowTotal]="dataTotal"
                [nzFrontPagination]="'false'" [nzScroll]="nzTableScroll">
                <thead>
                  <tr>
                    <th nzWidth="120px" nzLeft="0px">姓名</th>
                    <th>组织名称</th>
                    <th nzWidth="120px">账号</th>
                    <th nzWidth="120px">联系电话</th>
                    <th nzWidth="120px">人员状态</th>
                    <th nzWidth="120px">实名认证</th>
                    <th nzWidth="120px">有执法监察证</th>
                    <th nzWidth="240px" nzRight="0px">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of nzTable.data">
                    <td nzLeft="0px">{{data.name}}</td>
                    <td>123</td>
                    <td>123</td>
                    <td>123</td>
                    <td>123</td>
                    <td>123</td>
                    <td>123</td>
                    <td nzRight="0px">
                      <button nz-button [nzSize]="'small'" nzType="primary" [nzShape]="'round'">重置密码</button>
                      <button nz-button [nzSize]="'small'" nzType="default" [nzShape]="'round'" style="margin:0 5px;"
                        [routerLink]="['/setting/rybj', '111']">编辑</button>
                      <button nz-button [nzSize]="'small'" nzType="danger" [nzShape]="'round'" nz-popconfirm
                        [nzTitle]="'确定删除该岗位？'" (nzOnConfirm)="deleteStaff(data)">删除</button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
              <ng-template #dataTotal>
                <span style="margin: 0 24px;">{{'每页显示20条，共' + dataSet.length + '条'}}</span>
              </ng-template>
            </div>
          </nz-tab>
        </nz-tabset>
      </nz-content>
    </nz-layout>
  </nz-content>
  <nz-footer class="bottom-bar">
    <button nz-button nzType="primary" [nzLoading]="" nzSize="large" nzShape="round">保存修改</button>
  </nz-footer>
</nz-layout>
