:host ::ng-deep .organization-tree>ul {
  margin-top: 8px;
}

.organization-form {
  max-width: 560px;

  .ant-form-item {
    margin-bottom: 8px;
  }
}

.staff-search-condition {
  height: 56px;
  padding: 0 16px;
  margin-top: -8px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: #CED7E3;
}
