<div style="height: 100%;background:#fff">
  <div class="div_top_add">
    安全生产培训信息
  </div>
  <div class="div_contain_add"  *ngIf="isShow==false" [appPageHeight]='300'>
    <div nz-row class="ma_b20">

        <div nz-row class="ma_b20">
            <div nz-col [nzSpan]="4" class="ta_r">
              <span class="clo_r">*</span>培训班次：
            </div>
            <div nz-col [nzSpan]="8" class="ta_l">
              <input nz-input name="batch" [(ngModel)]="data.batch" required [validation]="true" />
            </div>
          </div>
      
          <div nz-row class="ma_b20">
            <div nz-col [nzSpan]="4" class="ta_r">
              <span class="clo_r">*</span>培训开始日期：
            </div>
            <div nz-col [nzSpan]="8" class="ta_l">
              <nz-date-picker [(ngModel)]="data.beginDate" class="w200" name="beginDate" required [validation]="true"
              [nzDisabledDate]="disabledStartDate" (ngModelChange)="onStartChange($event)">
              </nz-date-picker>
            </div>
      
            <div nz-col [nzSpan]="4" class="ta_r">
              <span class="clo_r">*</span>培训结束日期：
            </div>
            <div nz-col [nzSpan]="8" class="ta_l">
              <nz-date-picker [(ngModel)]="data.endDate" class="w200" name="endDate" required [validation]="true"
              [nzDisabledDate]="disabledEndDate" (ngModelChange)="onEndChange($event)">
              </nz-date-picker>
            </div>
          </div>
      
          <div nz-row class="ma_b20">
            <div nz-col [nzSpan]="4" class="ta_r">
              <span class="clo_r">*</span>培训地点：
            </div>
            <div nz-col [nzSpan]="8" class="ta_l">
              <input nz-input [(ngModel)]="data.place" name="place" required [validation]="true" />
            </div>
      
      
            <div nz-col [nzSpan]="4" class="ta_r">
              参培人数：
            </div>
            <div nz-col [nzSpan]="8" class="ta_l">
              <input nz-input [(ngModel)]="data.number" validation="true" [validationType]="'nullnumber'" name="number" />
            </div>
          </div>
      
          <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
            <div nz-col [nzSpan]="4" class="ta_r">
              培训内容及讲师：
            </div>
            <div nz-col [nzSpan]="20" class="ta_l">
              <textarea nz-input name="note" style="height: 70px;" [(ngModel)]="data.content"></textarea>
            </div>
          </div>
      
          <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
            <div nz-col [nzSpan]="4" class="ta_r">
              备注：
            </div>
            <div nz-col [nzSpan]="20" class="ta_l">
              <textarea nz-input name="note" style="height: 70px;" [(ngModel)]="data.note"></textarea>
            </div>
          </div>
          
          <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

    </div>

  </div>

  <div class="div_contain_add" *ngIf="isShow==true" [appPageHeight]='300'>
      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          培训班次：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="name" class="showText">{{data.batch}}</span>
        </div>
      </div>
  
      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          培训开始日期：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="beginDate" class="showText">{{data.beginDate|recordtime}}</span>
        </div>
  
        <div nz-col [nzSpan]="4" class="ta_r">
          培训结束日期：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="endDate" class="showText">{{data.endDate|recordtime}}</span>
        </div>
      </div>
  
      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          培训地点：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="endDate" class="showText">{{data.place}}</span>
        </div>
  
  
        <div nz-col [nzSpan]="4" class="ta_r">
          参培人数：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="number" class="showText">{{data.number}}</span>
        </div>
      </div>
  
      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          培训内容及讲师：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <div class="showTextArea">{{data.content}}</div>
        </div>
      </div>
  
  
      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          备注：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <div class="showTextArea">{{data.note}}</div>
        </div>
      </div>

      <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

    </div>



  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>