<div style="height: 100%;">
  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5">
      设施名称：
      <input nz-input nzSize="default" [(ngModel)]="name" class="w200" />
    </div>

    <div nz-col [nzSpan]="5">
      设施编号：
      <input nz-input nzSize="default" [(ngModel)]="code" class="w200" />
    </div>

    <div nz-col [nzSpan]="5">
      营运单位：
      <input nz-input nzSize="default" [(ngModel)]="serviceDepart" class="w200" />
    </div>

    <div nz-col [nzSpan]="5">
      监管类别：
      <nz-select [(ngModel)]="supervisionCategoryIds" class="w200">
        <nz-option *ngFor="let option of dictionary.config_fac_supervison_category" [nzLabel]="option.value"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>

    <div nz-col [nzSpan]="4" class="ta_r">
      <button nz-button nzType="primary" style="width: 70px; margin-right: 10px;" (click)="search()">
        查询
      </button>
      <button nz-button nzType="default" style="width: 70px;" (click)="reset()">
        重置
      </button>
    </div>
  </div>

  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5">
      设施类型：
      <nz-select [(ngModel)]="typeIds" class="w200">
        <nz-option *ngFor="let option of dictionary.config_fac_type" [nzLabel]="option.value" [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>

    <div nz-col [nzSpan]="5">
      设施状态：
      <nz-select [(ngModel)]="statusIds" class="w200">
        <nz-option *ngFor="let option of dictionary.config_fac_status" [nzLabel]="option.value" [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5">
      审评状态：
      <nz-select [(ngModel)]="reviewStatusIds" class="w200">
        <nz-option *ngFor="let option of dictionary.config_review_status" [nzLabel]="option.value"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5">
      许可情况：
      <nz-select [(ngModel)]="permitSituationIds" class="w200">
        <nz-option *ngFor="let option of dictionary.config_fac_permit_situation" [nzLabel]="option.value"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
  </div>

  <div nz-row style="height: 40px;">

    <div nz-col [nzSpan]="5">
      防洪要求：
      <nz-select [(ngModel)]="is_earthquake" class="w200">
        <nz-option nzValue="1" nzLabel="是"></nz-option>
        <nz-option nzValue="0" nzLabel="否"></nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5">
      抗震设防：
      <nz-select [(ngModel)]="is_flood" class="w200">
        <nz-option nzValue="1" nzLabel="是"></nz-option>
        <nz-option nzValue="0" nzLabel="否"></nz-option>
      </nz-select>
    </div>

    <div nz-col [nzSpan]="10">
      建造年代：
      <nz-year-picker [(ngModel)]="build_start_year"></nz-year-picker>
      至
      <nz-year-picker [(ngModel)]="build_end_year"></nz-year-picker>
    </div>

    
  </div>

  <div nz-row class="div_contain">
    <div class="div_top">
      <div class="fl div_top_tip"></div>
      <div class="fl" style="color: #0050b3;">
        核设施信息（共{{ totalCount }}条）
      </div>

      <div class="fr" *ngIf="isSearchShow == '0'&&canManage">
        <button nz-button nzType="danger" nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete()">
          删除
        </button>
      </div>

      <div class="fr" *ngIf="isSearchShow == '0'&&canManage">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="modify()">
          编辑
        </button>
      </div>

      <div class="fr" *ngIf="isSearchShow == '0'&&canManage">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="add()">
          添加
        </button>
      </div>

      <div class="fr" *ngIf="isSearchShow == '0'">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="exportData()">
          导出
        </button>
      </div>
      <div class="fr">
        <app-common-import
          [uploadUrl]="uploadUrl"
          (search)="search($event)"
        ></app-common-import>
      </div>

      <div class="fr" *ngIf="isSearchShow == '0'&&canManage">
        <app-common-import [uploadUrl]="uploadUrl" (search)="search($event)"></app-common-import>
      </div>

    </div>
    <div>
      <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)">
        <thead>
          <tr>
            <th style="width: 5%">序号</th>
            <th style="width: 10%">核设施名称</th>
            <th style="width: 8%">核设施编号</th>
            <th style="width: 8%">营运单位</th>
            <th style="width: 8%">建造年代</th>
            <th style="width: 8%">监管类别</th>
            <th style="width: 8%">设施类型</th>
            <th style="width: 8%">设施状态</th>
            <th style="width: 8%">审评状态</th>
            <th style="width: 8%">许可情况</th>
            <th style="width: 8%">是否满足抗震设防等级</th>
            <th style="width: 8%">是否满足防洪要求</th>
            <th style="width: 5%">操作</th>
          </tr>
        </thead>
        <tbody [appPageHeight]='500'>
          <tr *ngFor="let data of nestedTable.data; index as index"
            [ngClass]="{ true: 'itemSeleted', false: '' }[data.id == selectId]" (click)="selectItem(data)">
            <td style="width: 5%">
              {{ (pageIndex - 1) * pageSize + 1 + index }}
            </td>
            <td style="width: 10%" nz-tooltip nzTitle="{{ data.name }}">
              {{ data.name | tooltips: 5 }}
            </td>
            <td style="width: 8%" nz-tooltip nzTitle="{{ data.code }}">
              {{ data.code | tooltips: 5 }}
            </td>
            <td style="width: 8%" nz-tooltip nzTitle="{{ data.serviceDepart }}">
              {{ data.serviceDepart | tooltips: 5 }}
            </td>
            <td style="width: 8%">{{ data.buildYear | recordtime: 'year' }}</td>
            <td style="width: 8%">{{ data.supervisionCategoryValue }}</td>
            <td style="width: 8%">{{ data.typeValue }}</td>
            <td style="width: 8%" nz-tooltip nzTitle="{{ data.statusValue }}">
              {{ data.statusValue | tooltips: 5 }}
            </td>
            <td style="width: 8%">{{ data.reviewStatusValue }}</td>
            <td style="width: 8%" nz-tooltip nzTitle="{{ data.permitSituationValue }}">
              {{ data.permitSituationValue | tooltips: 5 }}
            </td>
            <td style="width: 8%">{{ data.isEarthquake | isTrue }}</td>
            <td style="width: 8%">{{ data.isFlood | isTrue }}</td>
            <td style="width: 5%">
              <a (click)="show(data)">查看</a>
            </td>
            <!-- <td *ngIf="isSearchShow=='0'">
              <a (click)="show(data,true)">查看</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="show(data,false)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="childmanage(data)">子项管理</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete(data)">删除</a>
            </td>
            <td *ngIf="isSearchShow=='1'">
              <a (click)="show(data,true)">查看</a>
            </td> -->
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>