<nz-layout class="layout index-layout">

  <nz-header>
    <app-header></app-header>
  </nz-header>

  <nz-content style="padding:0 20px;">

    <div class="index-top" nz-row [nzType]="'flex'" [nzAlign]="'middle'" *ngIf="isIndex">

      <div nz-col [nzSpan]="6" class="index_top_bor">

          <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
              <div nz-col class="img_mr">
                  <img src="./../../../../assets/images/index_16.png" />
              </div>
              <div nz-col>
                  XXX设施数量<br/>
                  XX座
              </div>
          </div>  

      </div>
 
      <div nz-col [nzSpan]="6" class="index_top_bor">
          <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
              <div nz-col class="img_mr">
                  <img src="./../../../../assets/images/index_18.png" />
              </div>
              <div nz-col>
                  铀尾矿（渣）库数量<br/>
                  XX座
              </div>
          </div>  
      </div>

      <div nz-col [nzSpan]="6" class="index_top_bor">
          <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
              <div nz-col class="img_mr">
                  <img src="./../../../../assets/images/index_20.png" />
              </div>
              <div nz-col>
                  XXX铀矿山数量<br/>
                  XX座
              </div>
          </div>  
      </div>

      <div nz-col [nzSpan]="6">
          <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
              <div nz-col class="img_mr">
                  <img src="./../../../../assets/images/index_23.png" />
              </div>
              <div nz-col>
                  XXX核安全设备数量<br/>
                  XX套
              </div>
          </div>  
      </div>

    </div>

    <div class="index-top" nz-row [nzType]="'flex'" [nzAlign]="'middle'" *ngIf="!isIndex" style="padding-left: 20px;">
    
        <nz-breadcrumb>
            <nz-breadcrumb-item>
              <i nz-icon type="home"></i>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item *ngFor="let name of breadcrumbList">
              <span>{{name}}</span>
            </nz-breadcrumb-item>
           
          </nz-breadcrumb>
    </div>

    <router-outlet></router-outlet>
  </nz-content>

</nz-layout>