<div nz-col *ngIf="!isProvinceMap">
  <div id="mapChina" style="width:100%;" [appPageHeight]="200"></div>
  <div class="mapLicense">
    <p>审图号：GS(2019)1823号</p>
    <p>自然资源部 监制</p>
  </div>
</div>
<div *ngIf="isProvinceMap">
  <div nz-col [nzSpan]="24">
    <div id="mapProvince" style="width:100%;" [appPageHeight]="200"></div>
    <div class="ret">
      <button nz-button nzType="primary" (click)="LoadChinaMap()">
        返回全国地图
      </button>
    </div>
    <div class="act">
      <nz-radio-group [(ngModel)]="actionType" [nzButtonStyle]="'solid'">
        <label nz-radio-button nzValue="view" *ngIf="canManage">查看</label>
        <label nz-radio-button nzValue="mark" *ngIf="canManage">标记</label>
        <label nz-radio-button nzValue="edit" *ngIf="canManage">编辑热区</label>
        <label nz-radio-button nzValue="delete" *ngIf="canManage">删除</label>
      </nz-radio-group>
    </div>
  </div>

  <nz-modal
    [(nzVisible)]="isMarkerVisible"
    nzTitle="地图上添加单位标记"
    (nzOnCancel)="markerCancel()"
    (nzOnOk)="markerOk()"
    [nzOkLoading]="isMarkerLoading"
    nzWidth="400px"
    [nzCancelText]="null"
  >
    <div style="height: 300px">
      <div nz-row style="height: 50px;">
        <div class="ta_l">
          <span class="clo_r">*</span>单位类型：
          <nz-radio-group [(ngModel)]="unitType">
            <label nz-radio nzValue="unit_service">核设施营运单位</label>
            <label nz-radio nzValue="unit_umine">铀矿冶单位</label>
          </nz-radio-group>
        </div>
      </div>
      <div
        nz-row
        class="ma_b20"
        *ngIf="unitType === 'unit_service'"
        style="height: 50px;"
      >
        <div class="ta_l">
          <span class="clo_r">*</span>请选择单位：
          <nz-select
            style="width:calc(100% - 100px)"
            required
            [validation]="true"
            [(ngModel)]="serviceId"
            [disabled]="isDisable"
            class="w200"
          >
            <nz-option
              *ngFor="let option of unit_services"
              [nzLabel]="option.name"
              [nzValue]="option.id"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div
        nz-row
        class="ma_b20"
        *ngIf="unitType === 'unit_umine'"
        style="height: 50px;"
      >
        <div class="ta_l">
          <span class="clo_r">*</span>请选择单位：
          <nz-select
            required
            [validation]="true"
            style="width:calc(100% - 100px)"
            [(ngModel)]="umineId"
            [disabled]="isDisable"
            class="w200"
          >
            <nz-option
              *ngFor="let option of unit_umines"
              [nzLabel]="option.name"
              [nzValue]="option.id"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
      <app-attachment
        [fileList]="fileList"
        [refid]="marker.id"
        [isDisable]="isDisable"
      ></app-attachment>
    </div>
  </nz-modal>
  <nz-modal
    [(nzVisible)]="isDeleteConfirmVisible"
    nzTitle="提示"
    (nzOnCancel)="deleteCancel()"
    (nzOnOk)="deleteOk()"
    [nzOkLoading]="isDeleteConfirmLoading"
    [nzCancelText]="null"
  >
    <p>确定要删除该单位在地图上的标记吗？</p>
  </nz-modal>
</div>
