<div style="height: 100%;background:#fff">

  <nz-tabset>
    <nz-tab nzTitle=" 监督检查信息">
      <div class="div_contain_add_tab" *ngIf="isShow==false">
        <div nz-row class="ma_b20" [nzType]="'flex'" [nzJustify]="'center'">
          <nz-radio-group [(ngModel)]="departType">
            <label nz-radio nzValue="fac">核设施营运单位</label>
            <label nz-radio nzValue="umine">铀矿冶单位</label>
            <label nz-radio nzValue="equip">核设备单位</label>
          </nz-radio-group>
        </div>

        <div nz-row class="ma_b20" *ngIf="departType==='fac'">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>营运单位：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <nz-select [(ngModel)]="data.serviceId" style="width: 100%" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let option of serviceDepartList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-row class="ma_b20" *ngIf="departType==='umine'">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>铀矿冶单位：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <nz-select [(ngModel)]="data.umineId" style="width: 100%" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let option of umineList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-row class="ma_b20" *ngIf="departType==='equip'">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>核设备单位：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <nz-select [(ngModel)]="data.equipDepartId" style="width: 100%" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let option of equipDepartList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>检查类型：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <nz-select [(ngModel)]="data.typeId" style="width: 100%">
              <nz-option *ngFor="let option of dictionary.config_monitor_check_type" [nzLabel]="option.value"
                [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>

          <div nz-col [nzSpan]="4" class="ta_r">
            监督检查机构：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <nz-select [(ngModel)]="data.orgId" style="width: 100%">
              <nz-option *ngFor="let option of orgList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>检查时间：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <nz-date-picker name="startDate" [(ngModel)]="data.startDate" class="w200" [validation]="true">
            </nz-date-picker>
            至
            <nz-date-picker name="endDate" [(ngModel)]="data.endDate" class="w200" [validation]="true">
            </nz-date-picker>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>检查内容：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <textarea nz-input name="content" style="height: 70px;" [(ngModel)]="data.content" required
              [validation]="true"></textarea>
          </div>
        </div>

        <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

      </div>

      <div class="div_contain_add_tab" *ngIf="isShow==true">
        <div nz-row class="ma_b20" [nzType]="'flex'" [nzJustify]="'center'" *ngIf="!isShow">
          <nz-radio-group [(ngModel)]="departType">
            <label nz-radio nzValue="fac">核设施营运单位</label>
            <label nz-radio nzValue="umine">铀矿冶单位</label>
            <label nz-radio nzValue="equip">核设备单位</label>
          </nz-radio-group>
        </div>

        <div nz-row class="ma_b20" *ngIf="departType==='fac'">
          <div nz-col [nzSpan]="4" class="ta_r">
            营运单位：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <span name="serviceDepartName" class="showText">{{data.serviceDepartName}}</span>
          </div>
        </div>

        <div nz-row class="ma_b20" *ngIf="departType==='umine'">
          <div nz-col [nzSpan]="4" class="ta_r">
            铀矿冶单位：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <span name="umineName" class="showText">{{data.umineName}}</span>
          </div>
        </div>

        <div nz-row class="ma_b20" *ngIf="departType==='equip'">
          <div nz-col [nzSpan]="4" class="ta_r">
            核设备单位：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <span name="equipDepartName" class="showText">{{data.equipDepartName}}</span>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            检查类型：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <span name="typeValue" class="showText">{{data.typeValue}}</span>
          </div>

          <div nz-col [nzSpan]="4" class="ta_r">
            监督检查机构：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <span name="orgName" class="showText">{{data.orgName}}</span>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            检查时间：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <span class="showText">{{data.startDate|recordtime}}至{{data.endDate|recordtime}}</span>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            检查内容：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <div nz-tooltip nzPlacement="content" class="showTextArea">{{data.content}}</div>
          </div>
        </div>

        <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

      </div>
    </nz-tab>

    <nz-tab nzTitle="监督检查文件" *ngIf="!isAdd">
      <app-check-file></app-check-file>
    </nz-tab>
  </nz-tabset>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>