<div style="height: 100%;background:#fff">
  <div class="div_top_add">
    日常监督信息
  </div>
  <div class="div_contain_add">
    <div nz-row class="ma_b20" >
      <div nz-col [nzSpan]="8" class="ta_r" style="visibility: collapse">
        营运单位：
        <nz-select [(ngModel)]="data.serviceId" class="w200" 
          [nzDisabled]="isDisable" nzShowSearch nzAllowClear nzPlaceHolder="请选择核设施营运单位">
          <nz-option *ngFor="let option of serviceDepartList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="8" class="ta_r" >
        铀矿冶单位：
        <nz-select [(ngModel)]="data.umineId" class="w200" 
        [disabled]="isDisable" nzShowSearch nzAllowClear  nzPlaceHolder="请选择铀矿冶单位">
          <nz-option *ngFor="let option of umineList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        核设备单位：
        <nz-select [(ngModel)]="data.equipDepartId" class="w200" 
        [disabled]="isDisable" nzShowSearch nzAllowClear  nzPlaceHolder="请选择核设备单位">
          <nz-option *ngFor="let option of equipDepartList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <!-- <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>授权监管机构：
        <nz-select [(ngModel)]="data.orgId" class="w200" [disabled]="isDisable">
          <nz-option *ngFor="let option of orgList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="8" class="ta_r">
        文件类型：
        <nz-select [(ngModel)]="data.fileTypeId" class="w200" [disabled]="isDisable">
          <nz-option *ngFor="let option of dictionary.config_monitor_daily_file_type" [nzLabel]="option.value"
            [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>文件时间：
        <nz-date-picker name="fileDate" [(ngModel)]="data.fileDate" class="w200" [validation]="true"
          [disabled]="isDisable">
        </nz-date-picker>
      </div>
    </div>

    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="24" class="ta_r">
        <div class="div_bz">文件名称：</div>
        <textarea nz-input name="fileName" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.fileName"
          [disabled]="isDisable"></textarea>
      </div>
    </div> -->

    <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isDisable"></app-attachment>

  </div>



  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isDisable" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>