<div style="height: 100%;">
  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5">
      单位名称
      <input nz-input nzSize="default" [(ngModel)]="name" class="w200">
    </div>

    <div nz-col [nzSpan]="5">
      见证对象
      <input nz-input nzSize="default" [(ngModel)]="obj" class="w200">
    </div>

    <div nz-col [nzSpan]="5">
      见证时间
      <nz-range-picker class="w200" [(ngModel)]="witness_date">
      </nz-range-picker>
    </div>

    <div nz-col [nzSpan]="5">
      见证事项
      <input nz-input nzSize="default" [(ngModel)]="items" class="w200">
    </div>

    <div nz-col [nzSpan]="4" class="ta_r">
      <button nz-button nzType="primary" style="width: 70px; margin-right: 10px;" (click)="search()">查询</button>
      <button nz-button nzType="default" style="width: 70px;" (click)="reset()">重置</button>
    </div>
  </div>

  <div nz-row class="div_contain">

    <div class="div_top">
      <div class="fl div_top_tip">

      </div>
      <div class="fl" style="color: #0050b3;">
        监督见证信息（共{{totalCount}}条）
      </div>

      <div class="fr" *ngIf="!isSearchShow">
        <button nz-button nzType="danger" nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete()">删除</button>
      </div>

      <div class="fr" *ngIf="!isSearchShow">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="modify()">编辑</button>
      </div>

      <div class="fr" *ngIf="!isSearchShow">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="add()">添加</button>
      </div>


    </div>
    <div>
      <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)">
        <thead>
          <tr>
            <th>序号</th>
            <th>单位名称</th>
            <th>见证对象</th>
            <th>见证时间</th>
            <th>见证事项</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nestedTable.data;index as index"
            [ngClass]="{true:'itemSeleted',false:''}[data.id==selectId]" (click)="selectItem(data)">
            <td>{{(pageIndex-1)*pageSize+1+index}}</td>
            <td>{{data.serviceDepartName}}{{data.umineName}}{{data.equipDepartName}}</td>
            <td>{{data.witnessObject}}</td>
            <td>{{data.witnessDate|recordtime:'month'}}</td>
            <td nz-tooltip nzTitle={{data.witnessItems}}>{{data.witnessItems|tooltips:5}}</td>
            <td>
              <a (click)="show(data)">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </div>
</div>