<div style="height: 100%">
  <div nz-row style="height: 50px; padding: 10px">
    <div nz-col [nzSpan]="6">
      账号：
      <input
        nz-input
        nzSize="default"
        [(ngModel)]="username"
        class="w200"
        placeholder="请输入账号"
      />
    </div>
    <div nz-col [nzSpan]="6">
      姓名：
      <input
        nz-input
        nzSize="default"
        [(ngModel)]="realname"
        class="w200"
        placeholder="请输入姓名"
      />
    </div>

    <div nz-col [nzSpan]="6">
      所在部门：
      <input
        nz-input
        nzSize="default"
        [(ngModel)]="department"
        class="w200"
        placeholder="请输入部门"
      />
    </div>

    <div nz-col [nzSpan]="4" nzOffset="2" class="ta_r">
      <button
        nz-button
        nzType="primary"
        style="width: 70px; margin-right: 10px"
        (click)="search()"
      >
        查询
      </button>
      <button nz-button nzType="default" style="width: 70px" (click)="reset()">
        重置
      </button>
    </div>
  </div>
  <div nz-row class="div_contain">
    <div class="div_top">
      <div class="fl div_top_tip"></div>
      <div class="fl" style="color: #0050b3">
        用户信息（共{{ totalCount }}条）
      </div>
      <div class="fr">
        <button
          nz-button
          nzType="danger"
          nz-popconfirm
          nzTitle="确定删除吗?"
          (nzOnConfirm)="delete()"
        >
          删除
        </button>
      </div>

      <div class="fr">
        <button
          nz-button
          nzType="primary"
          style="margin-right: 10px"
          (click)="modify()"
        >
          编辑
        </button>
      </div>

      <div class="fr">
        <button
          nz-button
          nzType="primary"
          style="margin-right: 10px"
          (click)="add()"
        >
          添加
        </button>
      </div>
    </div>
    <div>
      <nz-table
        #nestedTable
        [nzData]="dataSet"
        class="commontable tablescoll_rainbow"
        [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"
      >
        <thead>
          <tr>
            <th style="width: 5%">编号</th>
            <th style="width: 20%">用户名</th>
            <th style="width: 15%">真实姓名</th>
            <th style="width: 20%">所在部门</th>
            <th style="width: 15%">电话</th>
            <th style="width: 20%">邮箱</th>
            <th style="width: 5%">操作</th>
          </tr>
        </thead>
        <tbody [appPageHeight]="400">
          <tr
            *ngFor="let data of nestedTable.data; index as index"
            [ngClass]="{ itemSeleted: data.id == selectId }"
            (click)="selectItem(data)"
          >
            <td style="width: 5%">
              {{ (pageIndex - 1) * pageSize + 1 + index }}
            </td>
            <td style="width: 20%">{{ data.username }}</td>
            <td style="width: 15%">{{ data.realname }}</td>
            <td style="width: 20%">{{ data.department }}</td>
            <td style="width: 15%">{{ data.mobile }}</td>
            <td style="width: 20%">{{ data.email }}</td>
            <td style="width: 5%">
              <a (click)="show(data)">查看</a>
              <!-- <nz-divider nzType="vertical"></nz-divider>
              <a (click)="show(data, true)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a
                nz-popconfirm
                nzTitle="确定删除吗?"
                (nzOnConfirm)="delete(data)"
                >删除</a
              > -->
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="{{ title }}"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    [nzCancelText]="null"
  >
    <div>
      <div nz-row style="height: 60px">
        <div class="ta_r">
          <span class="clo_r">*</span>用户名：
          <input
            nz-input
            style="width: calc(100% - 100px)"
            [disabled]="isDisable"
            required
            [validation]="true"
            nzSize="default"
            [(ngModel)]="currentUser.username"
            class="w200"
            [validationType]="'maxlength'"
            [validationLenth]="50"
          />
        </div>
      </div>
      <div nz-row style="height: 60px">
        <div class="ta_r">
          <span class="clo_r">*</span>密码：
          <input
            type="password"
            maxlength="50"
            nz-input
            style="width: calc(100% - 100px)"
            [disabled]="isDisable"
            required
            [validation]="true"
            [validationType]="'password'"
            nzSize="default"
            [(ngModel)]="currentUser.password"
            class="w200"
          />
        </div>
      </div>
      <div nz-row style="height: 60px">
        <div class="ta_r">
          <span class="clo_r">*</span>真实姓名：
          <input
            nz-input
            [disabled]="isDisable"
            style="width: calc(100% - 100px)"
            required
            [validation]="true"
            nzSize="default"
            [(ngModel)]="currentUser.realname"
            class="w200"
            [validationType]="'maxlength'"
            [validationLenth]="50"
          />
        </div>
      </div>
      <div nz-row style="height: 60px">
        <div class="ta_r">
          电话：
          <input
            nz-input
            [disabled]="isDisable"
            style="width: calc(100% - 100px)"
            [validation]="true"
            [validationType]="'nullphonenumber'"
            nzSize="default"
            [(ngModel)]="currentUser.mobile"
            class="w200"
            maxlength="50"
            [isBlur]="'1'"
          />
        </div>
      </div>
      <div nz-row style="height: 60px">
        <div class="ta_r">
          邮箱：
          <input
            nz-input
            maxlength="50"
            style="width: calc(100% - 100px)"
            [disabled]="isDisable"
            nzSize="default"
            [(ngModel)]="currentUser.email"
            [validation]="true"
            [validationType]="'nullemail'"
            class="w200"
          />
        </div>
      </div>
      <div nz-row style="height: 60px">
        <div class="ta_r">
          <span class="clo_r">*</span>所在部门：
          <nz-tree-select
            [nzDropdownStyle]="{ 'max-height': '300px' }"
            style="width: calc(100% - 100px)"
            [disabled]="isDisable"
            nzPlaceHolder="请选择部门"
            [nzNodes]="orgTreeNodes"
            [nzDefaultExpandAll]="true"
            [nzAllowClear]="true"
            [(ngModel)]="currentUser.orgId"
            nzShowExpand
            required
            [validation]="true"
          >
          </nz-tree-select>
        </div>
      </div>
      <div nz-row style="height: 60px">
        <div class="ta_r">
          <span class="clo_r">*</span>
          角色：
          <nz-select
            style="width: calc(100% - 100px)"
            [(ngModel)]="currentUser.roleList"
            [disabled]="isDisable"
            class="w200"
            nzMode="multiple"
            [disabled]="isDisable"
            required
            [validation]="true"
          >
            <nz-option
              *ngFor="let option of allRoles"
              [nzLabel]="option.name"
              [nzValue]="option.id"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
      <ng-template #omittedPlaceHolder let-omittedValues>
        and {{ omittedValues.length }} 更多权限...
      </ng-template>
    </div>
  </nz-modal>
</div>
