<div style="height: 100%;">
  <div nz-row class="div_title">
    系统用户信息
  </div>
  <div nz-row class="div_contain">
    <div class="div_top">
      <div class="fr">
        <button
          nz-button
          nzType="primary"
          style=" margin-right: 10px;"
          class="addbtn"
          (click)="add()"
        >
          添加
        </button>
      </div>
    </div>
    <div>
      <nz-table
        #nestedTable
        [nzData]="dataSet"
        class="commontable tablescoll_rainbow"
        [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"
      >
        <thead>
          <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>真实姓名</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nestedTable.data; index as index">
            <td>{{ (pageIndex - 1) * pageSize + 1 + index }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.realname }}</td>
            <td>{{ data.mobile }}</td>
            <td>{{ data.email }}</td>
            <td>
              <a (click)="show(data, false)">查看</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="show(data, true)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a
                nz-popconfirm
                nzTitle="确定删除吗?"
                (nzOnConfirm)="delete(data)"
                >删除</a
              >
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="{{ title }}"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
  >
    <div>
      <div nz-row style="height: 60px;">
        <div class="ta_r">
          <span class="clo_r">*</span>用户名：
          <input
            nz-input
            style="width:calc(100% - 100px)"
            [disabled]="isDisable"
            required
            [validation]="true"
            nzSize="default"
            [(ngModel)]="currentUser.username"
            class="w200"
          />
        </div>
      </div>
      <div nz-row style="height: 60px;">
        <div class="ta_r">
          <span class="clo_r">*</span>真实姓名：
          <input
            nz-input
            [disabled]="isDisable"
            style="width:calc(100% - 100px)"
            required
            [validation]="true"
            nzSize="default"
            [(ngModel)]="currentUser.realname"
            class="w200"
          />
        </div>
      </div>
      <div nz-row style="height: 60px;">
        <div class="ta_r">
          <span class="clo_r">*</span>电话：
          <input
            nz-input
            [disabled]="isDisable"
            style="width:calc(100% - 100px)"
            required
            [validation]="true"
            [validationType]="'phonenumber'"
            nzSize="default"
            [(ngModel)]="currentUser.mobile"
            class="w200"
          />
        </div>
      </div>
      <div nz-row style="height: 60px;">
        <div class="ta_r">
          <span class="clo_r">*</span>邮箱：
          <input
            nz-input
            style="width:calc(100% - 100px)"
            [disabled]="isDisable"
            nzSize="default"
            [(ngModel)]="currentUser.email"
            [validation]="true"
            [validationType]="'email'"
            class="w200"
          />
        </div>
      </div>
      <div nz-row style="height: 60px;">
        <div class="ta_r">
          <span class="clo_r">*</span>所在部门：
          <nz-tree-select
            [nzDropdownStyle]="{ 'max-height': '300px' }"
            style="width:calc(100% - 100px)"
            [disabled]="isDisable"
            nzPlaceHolder="请选择部门"
            [nzNodes]="orgTreeNodes"
            [nzDefaultExpandAll]="true"
            [nzAllowClear]="true"
            [(ngModel)]="currentUser.orgId"
            nzShowExpand
          >
          </nz-tree-select>
        </div>
      </div>
      <div nz-row style="height: 60px;">
        <div class="ta_r">
          角色：
          <nz-select
            [nzDropdownStyle]="{ 'max-height': '200px' }"
            style="width:calc(100% - 100px)"
            [(ngModel)]="currentUser.roleList"
            [disabled]="isDisable"
            class="w200"
            nzMode="multiple"
            [disabled]="isDisable"
            [validation]="true"
          >
            <nz-option
              *ngFor="let option of allRoles"
              [nzLabel]="option.name"
              [nzValue]="option.id"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
      <ng-template #omittedPlaceHolder let-omittedValues>
        and {{ omittedValues.length }} 更多权限...
      </ng-template>
    </div>
  </nz-modal>
</div>
