<div style="height: 100%;">
  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5">
      单位名称
      <input nz-input nzSize="default" [(ngModel)]="depart" class="w200">
    </div>
    <div nz-col [nzSpan]="5">
      设施名称
      <input nz-input nzSize="default" [(ngModel)]="fac" class="w200">
    </div>
    <div nz-col [nzSpan]="5">
      核设施状态
      <nz-select [(ngModel)]="facStatusTypeIds" class="w200" nzMode="multiple">
        <nz-option *ngFor="let option of dictionary.config_fac_status" [nzLabel]="option.value" [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="7">
      铀尾矿(渣)库设施状态
      <nz-select [(ngModel)]="uminePlaceStatusTypeIds" class="w200" nzMode="multiple">
        <nz-option *ngFor="let option of dictionary.config_umine_place_status" [nzLabel]="option.value"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="2" class="ta_r">
      <button nz-button nzType="primary" style="width: 70px;" (click)="search()">查询</button>
    </div> 
  </div>

<div nz-row style="height: 40px;">
  <div nz-col [nzSpan]="6">
    事故事件名称
    <input nz-input nzSize="default" [(ngModel)]="name" class="w200">
  </div>

  <div nz-col [nzSpan]="5">
    发生时间
    <nz-range-picker class="w200" [(ngModel)]="occur_date">
    </nz-range-picker>
  </div>

  <div nz-col [nzSpan]="5">
    问题类别
    <nz-select [(ngModel)]="typeIds" class="w200" nzMode="multiple">
      <nz-option *ngFor="let option of dictionary.config_accident_type" [nzLabel]="option.value"
        [nzValue]="option.id">
      </nz-option>
    </nz-select>
  </div>

  <div nz-col [nzSpan]="5">
    问题性质
    <nz-select [(ngModel)]="natureIds" class="w200" nzMode="multiple">
      <nz-option *ngFor="let option of dictionary.config_accident_nature" [nzLabel]="option.value"
        [nzValue]="option.id">
      </nz-option>
    </nz-select>
  </div>
  <div nz-col [nzSpan]="3" class="ta_r">
    <button nz-button nzType="default" style="width: 70px;" (click)="reset()">重置</button>
  </div>
</div>
  <div nz-row class="div_contain">

    <div class="div_top">
      <div class="fl div_top_tip">

      </div>
      <div class="fl" style="color: #0050b3;">
        事故事件（共{{totalCount}}条）
      </div>

      <div class="fr" *ngIf="!servicedepartId">
        <button nz-button nzType="primary" style=" margin-right: 10px;" class="addbtn" (click)="add()">添加</button>
      </div>

    </div>
    <div>
      <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)">
        <thead>
          <tr>
            <th>序号</th>
            <th>单位名称</th>
            <th>设施名称</th>
            <th>设施状态</th>
            <th>事故事件名称</th>
            <th>事故事件发生时间</th>
            <th>事故事件类别</th>
            <th>事故事件性质</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nestedTable.data;index as index">
            <td>{{(pageIndex-1)*pageSize+1+index}}</td>
            <td>{{data.serviceDepartName}}{{data.umineName}}</td>
            <td>{{data.facName}}{{data.uminePlaceName}}</td>
            <td>{{data.facStatusValue}}{{data.uminePlaceStatusValue}}</td>
            <td>{{data.name}}</td>
            <td>{{data.occurDate}}</td>
            <td>{{data.typeValue}}</td>
            <td>{{data.natureValue}}</td>
            <td *ngIf="!servicedepartId">
              <a (click)="show(data,true)">查看</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="show(data,false)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete(data)">删除</a>
            </td>
            <td *ngIf="servicedepartId">
              <a (click)="show(data,true)">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </div>
</div>