<div style="height: 100%;background:#fff" *ngIf="!servicedepartId">
  <!-- <div class="div_top_add">
    核设施营运单位信息  
  </div> -->

  <nz-tabset>
    <nz-tab nzTitle="核设施营运单位信息">

     <div *ngIf="servicedepartId;else serviceContent">
       
     </div>


    </nz-tab>

    <nz-tab nzTitle="年度报告信息" *ngIf="!isAdd">
      <app-servicedepart-reportmanage></app-servicedepart-reportmanage>
      <!-- <div style="padding: 0 30px;">
        <div nz-row>
          <nz-table #nestedTable [nzData]="dataSet" class="commontable" [nzFrontPagination]="false"
            [nzTotal]="totalCount" [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize"
            (nzPageIndexChange)="pageIndexChange($event)" class="tablescoll_rainbow">
            <thead>
              <tr>
                <th>序号</th>
                <th>年度报告时间</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nestedTable.data;index as index ">
                <td>{{(pageIndex-1)*pageSize+1+index}}</td>
                <td>{{data.reportYear|recordtime}}</td>
              </tr>
            </tbody>
          </nz-table>

        </div>
      </div> -->
    </nz-tab>
  </nz-tabset>


  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>

<div *ngIf="!servicedepartId;else serviceContent" >

</div>


  <ng-template #serviceContent>

    <div class="div_contain_add" *ngIf="isShow==false">

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          <span class="clo_r">*</span>单位名称：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="name" [(ngModel)]="data.name" required [validation]="true" />
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          <span class="clo_r">*</span>所属集团：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <nz-select [(ngModel)]="data.groupId" style="width: 100%" required [validation]="true">
            <nz-option *ngFor="let option of groupList" [nzLabel]="option.name" [nzValue]="option.id">
            </nz-option>
          </nz-select>
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          单位代号：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="code" [(ngModel)]="data.code" />
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          地址：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <input nz-input name="address" [(ngModel)]="data.address" />
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          应急电话：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="emergencyTel" [(ngModel)]="data.emergencyTel" [validation]="true"
            [validationType]="'nullphonenumber'" />
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          传真：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="fax" [(ngModel)]="data.fax" />
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          法人代表：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="owner" [(ngModel)]="data.owner" />
        </div>

        <div nz-col [nzSpan]="4" class="ta_r" *ngIf="!isAdd">
          核设施数量：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l" *ngIf="!isAdd">
          <input nz-input name="facNum" [(ngModel)]="data.facNum" disabled />
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          主管安全领导：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="leader" [(ngModel)]="data.leader" />
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          主管安全领导电话：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="leaderTel" [(ngModel)]="data.leaderTel" [validation]="true"
            [validationType]="'nullphonenumber'" />
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          安全部门领导：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="departLeader" [(ngModel)]="data.departLeader" />
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          安全部门领导电话：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <input nz-input name="departLeaderTel" [(ngModel)]="data.departLeaderTel" [validation]="true"
            [validationType]="'nullphonenumber'" />
        </div>
      </div>

      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          基本概况：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <textarea nz-input name="survey" style="height: 70px;" [(ngModel)]="data.survey"></textarea>
        </div>
      </div>

      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          厂址特征：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <textarea nz-input name="feature" style="height: 70px;" [(ngModel)]="data.feature"></textarea>
        </div>
      </div>

      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          备注：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <textarea nz-input name="note" style="height: 70px;" [(ngModel)]="data.note"></textarea>
        </div>
      </div>


      <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

    </div>


    <div class="div_contain_add" *ngIf="isShow==true">

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          单位名称：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="name" class="showText">{{data.name}}</span>
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          所属集团：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="groupName" class="showText">{{data.groupName}}</span>
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          单位代号：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="code" class="showText">{{data.code}}</span>
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          地址：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <span name="address" class="showText">{{data.address}}</span>
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          应急电话：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="emergencyTel" class="showText">{{data.emergencyTel}}</span>
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          传真：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="fax" class="showText">{{data.fax}}</span>
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          法人代表：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="owner" class="showText">{{data.owner}}</span>
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          核设施数量：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="facNum" class="showText">{{data.facNum}}</span>
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          主管安全领导：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="leader" class="showText">{{data.leader}}</span>
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          主管安全领导电话：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="leaderTel" class="showText">{{data.leaderTel}}</span>
        </div>
      </div>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          安全部门领导：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="departLeader" class="showText">{{data.departLeader}}</span>
        </div>

        <div nz-col [nzSpan]="4" class="ta_r">
          安全部门领导电话：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
          <span name="departLeaderTel" class="showText">{{data.departLeaderTel}}</span>
        </div>
      </div>

      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          基本概况：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <div nz-tooltip nzPlacement="topLeft" class="showTextArea">{{data.survey}}</div>
        </div>
      </div>

      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          厂址特征：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <div nz-tooltip nzPlacement="topLeft" class="showTextArea">{{data.feature}}</div>
        </div>
      </div>

      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          备注：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
          <div nz-tooltip nzPlacement="topLeft" class="showTextArea">{{data.note}}</div>
        </div>
      </div>


      <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

    </div>
  </ng-template>
