<div style="height: 100%;background:#fff">
  <!-- <div class="div_top_add">
    核设施营运单位信息  
  </div> -->

  <nz-tabset>
    <nz-tab nzTitle="核设施营运单位信息">
      <div class="div_contain_add" style="height: calc(100% - 190px);">
        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>单位名称：
            <input nz-input name="name" [(ngModel)]="data.name" class="w200" required [validation]="true"
              [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            <span class="clo_r">*</span>所属集团：
            <nz-select [(ngModel)]="data.groupId" class="w200" required [validation]="true" [disabled]="isDisable">
              <nz-option *ngFor="let option of groupList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            核设施数量：
            <input nz-input name="facNum" [(ngModel)]="facNum" class="w200" disabled />
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            单位代号：
            <input nz-input name="code" [(ngModel)]="data.code" class="w200" [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            地址：
            <input nz-input name="address" [(ngModel)]="data.address" class="w200" [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            应急电话：
            <input nz-input name="emergencyTel" [(ngModel)]="data.emergencyTel" class="w200" [disabled]="isDisable"
              [validation]="true" [validationType]="'nullphonenumber'" />
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            传真：
            <input nz-input name="fax" [(ngModel)]="data.fax" class="w200" [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            法人代表：
            <input nz-input name="owner" [(ngModel)]="data.owner" class="w200" [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            主管安全领导：
            <input nz-input name="leader" [(ngModel)]="data.leader" class="w200" [disabled]="isDisable" />
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="8" class="ta_r">
            主管安全领导电话：
            <input nz-input name="leaderTel" [(ngModel)]="data.leaderTel" class="w200" [disabled]="isDisable"
              [validation]="true" [validationType]="'nullphonenumber'" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            安全部门领导：
            <input nz-input name="departLeader" [(ngModel)]="data.departLeader" class="w200" [disabled]="isDisable" />
          </div>
          <div nz-col [nzSpan]="8" class="ta_r">
            安全部门领导电话：
            <input nz-input name="departLeaderTel" [(ngModel)]="data.departLeaderTel" class="w200"
              [disabled]="isDisable" [validation]="true" [validationType]="'nullphonenumber'" />
          </div>
        </div>

        <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
          <div nz-col [nzSpan]="24" class="ta_r">
            <div class="div_bz">基本概况：</div>
            <textarea nz-input name="survey" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.survey"
              [disabled]="isDisable"></textarea>
          </div>
        </div>

        <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
          <div nz-col [nzSpan]="24" class="ta_r">
            <div class="div_bz">厂址特征：</div>
            <textarea nz-input name="feature" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.feature"
              [disabled]="isDisable"></textarea>
          </div>
        </div>


        <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
          <div nz-col [nzSpan]="24" class="ta_r">
            <div class="div_bz">备注：</div>
            <textarea nz-input name="note" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.note"
              [disabled]="isDisable"></textarea>
          </div>
        </div>

        <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isDisable"></app-attachment>

      </div>
    </nz-tab>

    <nz-tab nzTitle="年度报告信息" *ngIf="isDisable">
      <div style="padding: 0 30px;">
        <div nz-row>
          <nz-table #nestedTable [nzData]="dataSet" class="commontable" [nzFrontPagination]="false"
            [nzTotal]="totalCount" [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize"
            (nzPageIndexChange)="pageIndexChange($event)" class="tablescoll_rainbow">
            <thead>
              <tr>
                <th>序号</th>
                <th>年度报告时间</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nestedTable.data;index as index ">
                <td>{{(pageIndex-1)*pageSize+1+index}}</td>
                <td>{{data.reportYear|recordtime}}</td>
              </tr>
            </tbody>
          </nz-table>

        </div>
      </div>
    </nz-tab>
  </nz-tabset>


  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isDisable" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>