<div style="height: 100%;">
  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5" *ngIf="!facId">
      营运单位：
      <input nz-input nzSize="default" [(ngModel)]="serviceDepartName" class="w200" />
    </div>
    <div nz-col [nzSpan]="5" *ngIf="!facId">
      设施名称：
      <input nz-input nzSize="default" [(ngModel)]="facName" class="w200" />
    </div>
    <div nz-col [nzSpan]="6">
      许可阶段：
      <nz-select [(ngModel)]="permitStageIds" class="w200">
        <nz-option *ngFor="let option of dictionary.config_fac_permit_stage" [nzLabel]="option.value"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5">
      许可时间：
      <nz-range-picker class="w200" [(ngModel)]="permit_date">
      </nz-range-picker>
    </div>

    <div nz-col [nzSpan]="3" class="ta_r" style="float: right">
      <button nz-button nzType="primary" style="width: 70px; margin-right: 10px;" (click)="search()">
        查询
      </button>
      <button nz-button nzType="default" style="width: 70px;" (click)="reset()">
        重置
      </button>
    </div>
  </div>

  <div nz-row class="div_contain">
    <div class="div_top">
      <div class="fl div_top_tip"></div>
      <div class="fl" style="color: #0050b3;">
        核设施许可信息（共{{ totalCount }}条）
      </div>

      <div class="fr" *ngIf="!facId && canManage">
        <button nz-button nzType="danger" nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete()">
          删除
        </button>
      </div>

      <div class="fr" *ngIf="!facId && canManage">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="modify()">
          编辑
        </button>
      </div>

      <div class="fr" *ngIf="!facId && canManage">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="add()">
          添加
        </button>
      </div>

      <div class="fr" *ngIf="!facId">
        <button nz-button nzType="primary" style="margin-right: 10px;" (click)="exportFacPermit()">
          导出
        </button>
      </div>

      <div class="fr" *ngIf="!facId && canManage">
        <app-common-import [uploadUrl]="uploadUrl" (search)="search()"></app-common-import>
      </div>

      <div class="fr">
        <label nz-checkbox [(ngModel)]="checked"  (ngModelChange)="search()">按修改时间排序</label>
      </div>
      
    </div>
    <div>
      <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)">
        <thead>
          <tr>
            <th style="width: 5%">序号</th>
            <th>营运单位</th>
            <th>设施名称</th>
            <th>许可阶段</th>
            <th>许可时间</th>
            <th>许可文号</th>
            <th style="width: 5%">操作</th>
          </tr>
        </thead>
        <tbody [appPageHeight]="pageHeight">
          <tr *ngFor="let data of nestedTable.data; index as index"
            [ngClass]="{ true: 'itemSeleted', false: '' }[data.id == selectId]" (click)="selectItem(data)">
            <td style="width: 5%">
              {{ (pageIndex - 1) * pageSize + 1 + index }}
            </td>
            <td>{{ data.serviceDepartName }}</td>
            <td>{{ data.facName }}</td>
            <td>{{ data.permitStageValue }}</td>
            <td>{{ data.permitDate | recordtime }}</td>
            <td>{{ data.licence }}</td>
            <td style="width: 5%">
              <a (click)="show(data)">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>