:host ::ng-deep .content-layout {
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  overflow: hidden;
  position: relative;

  .center-content {
    width: 100%;
    height: 100%;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .bottom-bar {
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #CED7E3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

:host ::ng-deep .ant-card {
  overflow-x: hidden;
  overflow-y: auto;
}

:host ::ng-deep .ant-card-body {
  padding: 8px 16px;
}

:host ::ng-deep .ant-slider-rail {
  background-color: #D2D4D6;
}

:host ::ng-deep nz-input-group.with-label-input .ant-input-group-addon {
  border: none;
  background-color: transparent;
}
