<div style="height: 100%;">
  <div nz-row class="div_title">
    系统角色信息
  </div>
  <div nz-row class="div_contain">
    <div class="div_top">
      <div class="fr">
        <button
          nz-button
          nzType="primary"
          style=" margin-right: 10px;"
          class="addbtn"
          (click)="add()"
        >
          添加
        </button>
      </div>
    </div>
    <div>
      <nz-table
        #nestedTable
        [nzData]="dataSet"
        class="commontable tablescoll_rainbow"
        [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"
      >
        <thead>
          <tr>
            <th style="width: 20%">编号</th>
            <th style="width: 30%">角色名称</th>
            <th style="width: 30%">角色描述</th>
            <th style="width: 20%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nestedTable.data; index as index">
            <td style="width: 20%">
              {{ (pageIndex - 1) * pageSize + 1 + index }}
            </td>
            <td style="width: 30%">{{ data.name }}</td>
            <td style="width: 30%">{{ data.note }}</td>
            <td style="width: 20%">
              <a (click)="show(data, false)">查看</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="show(data, true)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a
                nz-popconfirm
                nzTitle="确定删除吗?"
                (nzOnConfirm)="delete(data)"
                >删除</a
              >
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="{{ title }}"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
  >
    <div>
      <div nz-row style="height: 60px;">
        <div nz-col [nzSpan]="6" class="ta_r">
          <span class="clo_r">*</span>角色名称：
        </div>
        <div nz-col [nzSpan]="18" class="ta_l">
          <input
            style="width:calc(100% - 100px)"
            [disabled]="isDisable"
            nz-input
            required
            [validation]="true"
            nzSize="default"
            [(ngModel)]="currentRole.name"
            class="w200"
          />
        </div>
      </div>
      <div nz-row style="height: 60px;">
        <div nz-col [nzSpan]="6" class="ta_r">
          <span class="clo_r">*</span>角色描述：
        </div>
        <div nz-col [nzSpan]="18" class="ta_l">
          <input
            nz-input
            style="width:calc(100% - 100px)"
            [disabled]="isDisable"
            required
            [validation]="true"
            nzSize="default"
            [(ngModel)]="currentRole.note"
            class="w200"
          />
        </div>
      </div>
      <ng-template #omittedPlaceHolder let-omittedValues>
        and {{ omittedValues.length }} 更多权限...
      </ng-template>
      <div nz-row>
        <div nz-col [nzSpan]="6" class="ta_r">
          <span class="clo_r">*</span>菜单权限：
        </div>
        <div nz-col [nzSpan]="18" class="ta_l">
          <!-- <nz-tree-select
            [disabled]="isDisable"
            style="width:calc(100% - 100px)"
            nzPlaceHolder="请选择父级菜单"
            [nzNodes]="menuTreeNodes"
            [nzDefaultExpandAll]="true"
            [nzAllowClear]="true"
            [(ngModel)]="currentRole.roleMenuList"
            nzShowExpand
            [nzMultiple]="true"
          >
          </nz-tree-select> -->
          <div class="ta_l" style="height: 200px;overflow: scroll">
            <nz-tree
              (nzCheckBoxChange)="updateRoleMenuList($event)"
              [nzData]="menuTreeNodes"
              nzCheckable="true"
              nzMultiple="true"
              [(nzCheckedKeys)]="ckeckedRoleMenuList"
            >
            </nz-tree>
          </div>
        </div>
      </div>
    </div>
  </nz-modal>
</div>
