.nav-menu {
  height: 100%;
  background-color: #F2F2F2;
  position: relative;

  ul {
    height: 100%;
  }

  .btn-collapsed {
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: #2F3643;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
