.nav-menu {
  height: 100%;
  background-color: #f2f2f2;
  position: relative;

  ul {
    height: 100%;
    background: #0050b3;
    border: 0;
    color: #fff;
    font-size: 16px;

    li:hover {
      background: #fff;
      color: #0050b3;
      border: 0;
      border-radius: 5px;
    }
  }

  .li_select {
    background: #fff;
    color: #0050b3;
    border: 0;
    border-radius: 5px;
  }

  .btn-collapsed {
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: #2f3643;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.submenu_line {
  border-bottom: #cccccc;
}
