<div nz-row style="height: calc(100% - 60px);padding: 0,15px;">
    <div nz-col [nzSpan]="10" class="div1">
        <div>
            模拟地图查询
            <div id="map" style="width:600px;height: 600px;">

            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="14" style="height: 100%;width: calc(58.3% - 20px);">
        <div nz-row style="height: 50%;" [nzType]="'flex'">
            <div nz-col class="div2" style="margin-right: 20px;">
                <div>
                    核设施分布统计
                </div>
                <div id="chart1" style="height: 230px;">

                </div>
            </div>
            <div nz-col class="div2">
                <div>
                    核设施状态统计
                </div>
                <div id="chart2" style="height: 230px;">

                </div>
            </div>
        </div>
        <div nz-row style="height: 50%;" [nzType]="'flex'">
            <div nz-col class="div2" style="margin-right: 20px;">
                <div>
                    核设施监管类别统计
                </div>
                <div id="chart3" style="height: 230px;">

                </div>
            </div>
            <div nz-col class="div2">
                <div>
                    核设施年代及类型统计
                </div>
                <div id="chart4" style="height: 230px;">

                </div>
            </div>
        </div>
    </div>
</div>