<div nz-row style="height: calc(100% - 60px);padding: 0,15px;">
  <div nz-col [nzSpan]="4" class="div_1">
    <div style="border-right: 1px solid #e2e2e2; height: 100%;">
      <ng-container *ngFor="let item of menuItems; index as index">
        <div *ngIf="item.isShow" class="div_menu" (click)="clickMenu(item)" [ngClass]="
          { true: 'menu_select', false: '' }[selectMenuName == item.name]
        ">
          {{ item.name }}
        </div>
      </ng-container>
    </div>
  </div>

  <div nz-col [nzSpan]="20" style="background: #fff;height: 100%;"> 
    <app-user *ngIf="selectMenuName == '人员管理'"></app-user>
    <app-role *ngIf="selectMenuName == '角色管理'"></app-role>
    <app-menu *ngIf="selectMenuName == '菜单管理'"></app-menu>
    <app-org *ngIf="selectMenuName == '机构管理'"></app-org>
    <app-system-log *ngIf="selectMenuName == '日志管理'"></app-system-log>`
    <app-setting *ngIf="selectMenuName == '静态数据设置'"></app-setting>
    <app-link *ngIf="selectMenuName == '友情链接管理'"></app-link>
  </div>
</div>