<div style="height: 100%;background:#fff">
  <div class="div_top_add">
    监管法规信息
  </div>
  <div class="div_contain_add" *ngIf="isShow==false" [appPageHeight]='300'>
    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>法规文号：
        <input nz-input name="code" [(ngModel)]="data.code" class="w200" required [validation]="true" [validationType]="'maxlength'" [validationLenth]="30"/>
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>法规名称：
        <input nz-input name="name" [(ngModel)]="data.name" class="w200" required [validation]="true" [validationType]="'maxlength'" [validationLenth]="50"/>
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>发布时间 ：
        <nz-date-picker name="releaseDate" [nzStyle]="dataStyle" [(ngModel)]="data.releaseDate" class="w200" required
          [validation]="true">
        </nz-date-picker>
      </div>
    </div>

    <app-attachment [fileList]="fileList" [moduleName]="'监管法规信息'" [refid]="data.id" [isDisable]="isShow" #child></app-attachment>
  </div>




  <div class="div_contain_add" [appPageHeight]='300' *ngIf="isShow==true">
    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8">
        法规文号：
        <span name="code">{{data.code}}</span>
      </div>
      <div nz-col [nzSpan]="8" >
        法规名称：
        <span name="name">{{data.name}}</span>
      </div>
      <div nz-col [nzSpan]="8" >
        发布时间：
        <span >{{data.releaseDate|recordtime}}</span>
      </div>
    </div>

    <app-attachment [fileList]="fileList" [moduleName]="'监管法规信息'" [refid]="data.id" [isDisable]="isShow" #child></app-attachment>
  </div>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>