.index-layout {
    height: 100%;
    width: 100%;
    overflow: hidden;
  
    nz-header {
      height: 130px;
      width: 100%;
      padding: 0;
      background-color: #ffffff;
    }
  }
  
  .index-top{
    height: 60px;
    margin-top: -20px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .img_mr{
    margin-right: 15px;
  }
  
  .index_top_bor{
    border-right: 1px solid #e6e6e6;
  }
  