<nz-layout class="layout index-layout">

    <nz-header>
        <app-header></app-header>
    </nz-header>

    <nz-content style="padding:0 20px;">

        <div class="index-top" nz-row [nzType]="'flex'" [nzAlign]="'middle'" *ngIf="isIndex">

            <div nz-col [nzSpan]="6" class="index_top_bor">

                <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
                    <div nz-col class="img_mr">
                        <img src="./../../../../assets/images/index_16.png" />
                    </div>
                    <div nz-col>
                        军工设施数量<br />
                        <span class="size">{{facNum}}</span>座
                    </div>
                </div>

            </div>

            <div nz-col [nzSpan]="6" class="index_top_bor">
                <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
                    <div nz-col class="img_mr">
                        <img src="./../../../../assets/images/index_18.png" />
                    </div>
                    <div nz-col>
                        铀尾矿（渣）库数量<br />
                        <span class="size">{{umineplaceNum}}</span>座
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="6" class="index_top_bor">
                <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
                    <div nz-col class="img_mr">
                        <img src="./../../../../assets/images/index_20.png" />
                    </div>
                    <div nz-col>
                        铀矿山数量<br />
                        <span class="size">{{umineMountainNum}}</span>座
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="6">
                <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'center'">
                    <div nz-col class="img_mr">
                        <img src="./../../../../assets/images/index_23.png" />
                    </div>
                    <div nz-col>
                        核安全设备数量<br />
                        <span class="size">{{equipNum}}</span>套
                    </div>
                </div>
            </div>

        </div>

        <div class="index-top" nz-row [nzType]="'flex'" [nzAlign]="'middle'" *ngIf="!isIndex"
            style="padding-left: 20px;">

            <img src="../../../../assets//images//breadcrumb_icon.png" style="margin-right: 20px;" />

            <nz-breadcrumb>
                <nz-breadcrumb-item *ngFor="let item of breadcrumbList;">
                    {{item}}
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>

        <router-outlet></router-outlet>
    </nz-content>

</nz-layout>