<div style="height: 100%;background:#fff">
  <div class="div_top_add">
    事故事件
  </div>

  <div class="div_contain_add" *ngIf="isShow==false" [appPageHeight]='300'>
    <div nz-row class="ma_b20" [nzType]="'flex'" [nzJustify]="'center'">
      <nz-radio-group [(ngModel)]="accidentType">
        <label nz-radio nzValue="fac">核设施事故事件</label>
        <label nz-radio nzValue="umineplace">铀尾矿(渣)库事故事件</label>
      </nz-radio-group>
    </div>

    <div nz-row class="ma_b20" *ngIf="accidentType==='fac'">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>核设施营运单位：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <nz-select [(ngModel)]="data.serviceId" style="width: 100%" (ngModelChange)="serviceDepartChange($event)"
          nzShowSearch required nzAllowClear required [validation]="true">
          <nz-option *ngFor="let option of serviceDepartList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-row class="ma_b20" *ngIf="accidentType==='fac'">
      <div nz-col [nzSpan]="4" class="ta_r">
        核设施名称：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.facId" style="width: 100%" nzShowSearch nzAllowClear>
          <nz-option *ngFor="let option of facList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        核设施状态：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.facStatusId" style="width: 100%" nzShowSearch nzAllowClear>
          <nz-option *ngFor="let option of dictionary.config_fac_status" [nzLabel]="option.value" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>


    <div nz-row class="ma_b20" *ngIf="accidentType==='umineplace'">

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>铀矿冶单位：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <nz-select [(ngModel)]="data.umineId" style="width: 100%" (ngModelChange)="umineChange($event)" nzShowSearch
          required nzAllowClear required [validation]="true">
          <nz-option *ngFor="let option of umineList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-row class="ma_b20" *ngIf="accidentType==='umineplace'">

      <div nz-col [nzSpan]="4" class="ta_r">
        铀尾矿(渣)库名称：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.uminePlaceId" style="width: 100%" nzShowSearch nzAllowClear>
          <nz-option *ngFor="let option of umineplaceList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        铀尾矿(渣)库状态：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.uminePlaceStatusId" style="width: 100%" nzShowSearch nzAllowClear>
          <nz-option *ngFor="let option of dictionary.config_umine_place_status" [nzLabel]="option.value"
            [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>事故事件名称：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <input nz-input name="name" style="width: 100%" [(ngModel)]="data.name" required [validation]="true" 
        [validationType]="'maxlength'" [validationLenth]="36"/>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>事故事件类别：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.typeId" style="width: 100%" required [validation]="true">
          <nz-option *ngFor="let option of dictionary.config_accident_type" [nzLabel]="option.value"
            [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>事故事件性质：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.natureId" style="width: 100%" required [validation]="true">
          <nz-option *ngFor="let option of dictionary.config_accident_nature" [nzLabel]="option.value"
            [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>发生时间：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-date-picker name="occurDate" [(ngModel)]="data.occurDate" style="width: 100%" required [validation]="true">
        </nz-date-picker>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>事故事件过程：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="process" style="height: 70px;" [(ngModel)]="data.process" required [validation]="true">
                    </textarea>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        事故事件后果：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="consequence" style="height: 70px;" [(ngModel)]="data.consequence" >
        </textarea>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        原因分析：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="reason" style="height: 70px;" [(ngModel)]="data.reason">
        </textarea>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        处理措施：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="measure" style="height: 70px;" [(ngModel)]="data.measure">
        </textarea>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        经验反馈：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="feedback" style="height: 70px;" [(ngModel)]="data.feedback">
        </textarea>
      </div>
    </div>

    <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

  </div>

  <div class="div_contain_add" *ngIf="isShow==true" [appPageHeight]='300'>
    <div nz-row class="ma_b20" [nzType]="'flex'" [nzJustify]="'center'" *ngIf="!isShow">
      <nz-radio-group [(ngModel)]="accidentType">
        <label nz-radio nzValue="fac">核设施事故事件</label>
        <label nz-radio nzValue="umineplace">铀尾矿(渣)库事故事件</label>
      </nz-radio-group>
    </div>

    <div nz-row class="ma_b20" *ngIf="accidentType==='fac'">
      <div nz-col [nzSpan]="4" class="ta_r">
        核设施营运单位：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <span name="serviceDepartName" class="showText">{{data.serviceDepartName}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20" *ngIf="accidentType==='fac'">
      <div nz-col [nzSpan]="4" class="ta_r">
        核设施名称：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="facName" class="showText">{{data.facName}}</span>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        核设施状态：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="facStatusValue" class="showText">{{data.facStatusValue}}</span>
      </div>
    </div>


    <div nz-row class="ma_b20" *ngIf="accidentType==='umineplace'">

      <div nz-col [nzSpan]="4" class="ta_r">
        铀矿冶单位：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <span name="umineName" class="showText">{{data.umineName}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20" *ngIf="accidentType==='umineplace'">

      <div nz-col [nzSpan]="4" class="ta_r">
        铀尾矿(渣)库名称：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="uminePlaceName" class="showText">{{data.uminePlaceName}}</span>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        铀尾矿(渣)库状态：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="uminePlaceStatusValue" class="showText">{{data.uminePlaceStatusValue}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        事故事件名称：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <span name="name" class="showText">{{data.name}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        事故事件类别：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="typeValue" class="showText">{{data.typeValue}}</span>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        事故事件性质：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="natureValue" class="showText">{{data.natureValue}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        发生时间：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="occurDate" class="showText">{{data.occurDate|recordtime}}</span>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        事故事件过程：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <div  class="showTextArea">{{data.process}}</div>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        事故事件后果：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <div  class="showTextArea">{{data.consequence}}</div>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        原因分析：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <div  class="showTextArea">{{data.reason}}</div>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        处理措施：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <div  class="showTextArea">{{data.measure}}</div>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        经验反馈：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <div  class="showTextArea">{{data.feedback}}</div>
      </div>
    </div>

    <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>

  </div>


  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>