<div style="height: 100%;background:#fff">
  <div class="div_top_add">
    国防科工局基本信息
  </div>
  <div class="div_contain_add" style="height:360px;">
    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>司局名称：
        <input nz-input name="name" [(ngModel)]="data.name" class="w200" required [validation]="true"
          [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        处室设置：
        <input nz-input name="orgSet" [(ngModel)]="data.orgSet" class="w200" [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>司领导：
        <input nz-input name="leader" [(ngModel)]="data.leader" class="w200" required [validation]="true"
          [disabled]="isDisable" />
      </div>
    </div>
    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8" class="ta_r">
        司领导电话：
        <input nz-input name="leaderTel" [(ngModel)]="data.leaderTel" class="w200" [validation]="true"
          [validationType]="'nullphonenumber'" [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>分管核安全司领导：
        <input nz-input name="securityLeader" [(ngModel)]="data.securityLeader" class="w200" required
          [validation]="true" [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        分管核安全司领导电话：
        <input nz-input name="securityLeaderTel" [(ngModel)]="data.securityLeaderTel" class="w200" [validation]="true"
          [validationType]="'nullphonenumber'" [disabled]="isDisable" />
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>核安全许可处室领导：
        <input nz-input name="permitLeader" [(ngModel)]="data.permitLeader" class="w200" required [validation]="true"
          [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        核安全许可处室领导电话：
        <input nz-input name="permitLeaderTel" [(ngModel)]="data.permitLeaderTel" class="w200" [validation]="true"
          [validationType]="'nullphonenumber'" [disabled]="isDisable" />
      </div>
      <div nz-col [nzSpan]="8" class="ta_r">
        <span class="clo_r">*</span>核安全监督处室领导：
        <input nz-input name="superviseLeader" [(ngModel)]="data.superviseLeader" class="w200" required
          [validation]="true" [disabled]="isDisable" />
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="8" class="ta_r">
        核安全监督处室领导电话：
        <input nz-input name="superviseLeaderTel" [(ngModel)]="data.superviseLeaderTel" class="w200" [validation]="true"
          [validationType]="'nullphonenumber'" [disabled]="isDisable" />
      </div>
    </div>
    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="24" class="ta_r">
        <div class="div_bz">工作职责：</div>
        <textarea nz-input name="duty" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.duty"
          [disabled]="isDisable"></textarea>
      </div>
    </div>
    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="24" class="ta_r">
        <div class="div_bz">备注：</div>
        <textarea nz-input name="note" style="width: calc(100% - 130px);height: 70px;" [(ngModel)]="data.note"
          [disabled]="isDisable"></textarea>
      </div>
    </div>


  </div>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isDisable" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>