<div style="height: 100%;background:#fff">

  <nz-tabset>
    <nz-tab nzTitle=" 核活动及其他审评信息">
      <div class="div_contain_add_tab" *ngIf="isShow==false">
        <div nz-row class="ma_b20" [nzType]="'flex'" [nzJustify]="'center'">
          <nz-radio-group [(ngModel)]="activityType">
            <label nz-radio nzValue="fac">核设施营运单位</label>
            <label nz-radio nzValue="equip">核设备单位</label>
          </nz-radio-group>
        </div>

        <div nz-row class="ma_b20" *ngIf="activityType==='fac'">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>核设施营运单位：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <nz-select [(ngModel)]="data.serviceId" style="width: 100%" (ngModelChange)="serviceDepartChange($event)"
              nzShowSearch required nzAllowClear  required [validation]="true" >
              <nz-option *ngFor="let option of serviceDepartList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>

          <div nz-col [nzSpan]="4" class="ta_r">
              核设施名称：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <nz-select [(ngModel)]="data.facId" style="width: 100%" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let option of facList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-row class="ma_b20" *ngIf="activityType==='equip'">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>核设备单位：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <nz-select [(ngModel)]="data.equipDepartId" style="width: 100%" nzShowSearch required nzAllowClear required [validation]="true" >
              <nz-option *ngFor="let option of equipDepartList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>活动类型：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <nz-select [(ngModel)]="data.activityTypeId" style="width: 100%" required [validation]="true" >
              <nz-option *ngFor="let option of dictionary.config_activity_type" [nzLabel]="option.value"
                [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </div>

          <div nz-col [nzSpan]="4" class="ta_r">
            审评时间：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <nz-month-picker name="checkDate" [(ngModel)]="data.checkDate">
            </nz-month-picker>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            <span class="clo_r">*</span>审查内容：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <textarea nz-input name="checkContent" style="height: 70px;" [(ngModel)]="data.checkContent" required
              [validation]="true">
                      </textarea>
          </div>
        </div>

        <!-- <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment> -->
      </div>

      <div class="div_contain_add_tab" *ngIf="isShow==true">
        <div nz-row class="ma_b20" [nzType]="'flex'" [nzJustify]="'center'"  *ngIf="!isShow">
          <nz-radio-group [(ngModel)]="activityType">
            <label nz-radio nzValue="fac">核设施</label>
            <label nz-radio nzValue="equip">核设备</label>
          </nz-radio-group>
        </div>

        <div nz-row class="ma_b20" *ngIf="activityType==='fac'">
          <div nz-col [nzSpan]="4" class="ta_r">
            核设施营运单位信息：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <span name="serviceDepartName" class="showText">{{data.serviceDepartName}}</span>
          </div>

          <div nz-col [nzSpan]="4" class="ta_r">
            核设施信息：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <span name="facName" class="showText">{{data.facName}}</span>
          </div>
        </div>

        <div nz-row class="ma_b20" *ngIf="activityType==='equip'">
          <div nz-col [nzSpan]="4" class="ta_r">
            核设备单位：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <span name="equipDepartName" class="showText">{{data.equipDepartName}}</span>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            活动类型：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <span name="typeValue" class="showText">{{data.typeValue}}</span>
          </div>

          <div nz-col [nzSpan]="4" class="ta_r">
            审评时间：
          </div>
          <div nz-col [nzSpan]="8" class="ta_l">
            <span name="checkDate" class="showText">{{data.checkDate|recordtime}}</span>
          </div>
        </div>

        <div nz-row class="ma_b20">
          <div nz-col [nzSpan]="4" class="ta_r">
            审查内容：
          </div>
          <div nz-col [nzSpan]="20" class="ta_l">
            <div  class="showTextArea">{{data.checkContent}}</div>
          </div>
        </div>

        <!-- <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment> -->
      </div>

    </nz-tab>

    <nz-tab nzTitle="审评文件" *ngIf="!isAdd">
      <app-activity-file></app-activity-file>
    </nz-tab>

  </nz-tabset>
  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">保存</button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>


<!-- </div> -->