<div style="height: 100%;">

  <div nz-row class="div_contain">

    <nz-tabset>
      <nz-tab nzTitle="安技改信息">
        <div class="div_top">
          <div class="fl div_top_tip">

          </div>
          <div class="fl" style="color: #0050b3;">
            安技改信息（共{{totalCount}}条）
          </div>

          <div class="fr">
            <button nz-button nzType="primary" style=" margin-right: 10px;" class="addbtn" (click)="add()">添加</button>
          </div>

        </div>
        <div>
          <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false"
            [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount"
            (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)">
            <thead>
              <tr>
                <th>序号</th>
                <th>安技改时间</th>
                <th>安技改内容</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nestedTable.data;index as index">
                <td>{{(pageIndex-1)*pageSize+1+index}}</td>
                <td>{{data.improveDate|recordtime}}</td>
                <td>{{data.improveContent}}</td>
                <td>
                  <a (click)="show(data,true)">查看</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a (click)="show(data,false)">编辑</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete(data)">删除</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>

      <nz-tab nzTitle="定期报告信息">
        <div class="div_top">
          <div class="fl div_top_tip">

          </div>
          <div class="fl" style="color: #0050b3;">
            定期报告信息（共{{totalCount}}条）
          </div>

          <div class="fr">
            <button nz-button nzType="primary" style=" margin-right: 10px;" class="addbtn"
              (click)="addReport()">添加</button>
          </div>

        </div>
        <div>
          <nz-table #nestedTable1 [nzData]="dataSetReport" class="commontable tablescoll_rainbow"
            [nzFrontPagination]="false" [nzPageIndex]="pageIndexReport" nzShowSizeChanger [nzPageSize]="pageSizeReport"
            [nzTotal]="totalCountReport" (nzPageIndexChange)="pageIndexChangeReport($event)"
            (nzPageSizeChange)="pageSizeChangeReport($event)">
            <thead>
              <tr>
                <th>序号</th>
                <th>定期报告类别</th>
                <th>定期报告时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nestedTable1.data;index as index">
                <td>{{(pageIndex-1)*pageSize+1+index}}</td>
                <td>{{data.reportTypeValue}}</td>
                <td>{{data.date|recordtime}}</td>
                <td>
                  <a (click)="showReport(data,true)">查看</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a (click)="showReport(data,false)">编辑</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="deleteReport(data)">删除</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
    </nz-tabset>



  </div>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>

  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzOkText]="okText" [nzCancelText]="null" (nzOnOk)="save();"
    (nzOnCancel)="isVisible=false;" nzWidth="700" [nzOkLoading]="isSaving">

    <div style="padding: 10px 30px 50px 0;">

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="12" class="ta_r">
          <span class="clo_r">*</span>安技改时间：
          <nz-date-picker name="improveDate" [(ngModel)]="data.improveDate" class="w200" [disabled]="isDisable" required
            [validation]="true">
          </nz-date-picker>
        </div>
      </div>
      <div nz-row class="ma_b20">

        <div nz-col [nzSpan]="24" class="ta_r">
          <div class="div_bz" style="width: 107px;"><span class="clo_r">*</span>安技改内容：</div>
          <textarea nz-input name="improveContent" style="width: calc(100% - 110px);height: 70px;"
            [(ngModel)]="data.improveContent" [disabled]="isDisable" required [validation]="true"></textarea>
        </div>

      </div>
    </div>
  </nz-modal>

  <nz-modal [(nzVisible)]="isVisibleReport" [nzTitle]="modalTitleReport" [nzOkText]="okTextReport" [nzCancelText]="null"
    (nzOnOk)="saveReport();" (nzOnCancel)="isVisibleReport=false;" nzWidth="700" [nzOkLoading]="isSavingReport">

    <div style="padding: 10px 30px 50px 0;">

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="12" class="ta_r">
          定期报告时间：
          <nz-date-picker name="date" [(ngModel)]="dataReport.date" class="w200" [disabled]="isDisableReport">
          </nz-date-picker>
        </div>
      </div>
      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="12" class="ta_r">
          定期报告类别：
          <nz-select [(ngModel)]="dataReport.typeId" class="w200"  [disabled]="isDisableReport">
            <nz-option *ngFor="let option of dictionary.config_fac_report_type" [nzLabel]="option.value"
              [nzValue]="option.id">
            </nz-option>
          </nz-select>
        </div>
      </div>

      <app-attachment [fileList]="fileList" [refid]="dataReport.id" [isDisable]="isDisableReport"></app-attachment>
      
    </div>
  </nz-modal>


</div>