<div style="height: 100%;">
  <div nz-row style="height: 40px;">
    <div nz-col [nzSpan]="5">
      法规文号：
      <input nz-input nzSize="default" [(ngModel)]="code" class="w200" />
    </div>
    <div nz-col [nzSpan]="5">
      法规名称：
      <input nz-input nzSize="default" [(ngModel)]="name" class="w200" />
    </div>
    <div nz-col [nzSpan]="5">
      发布时间：
      <nz-range-picker class="w200" [(ngModel)]="fb_date"> </nz-range-picker>
    </div>

    <div nz-col [nzSpan]="4" [nzOffset]="5" class="ta_r">
      <button
        nz-button
        nzType="primary"
        style="width: 70px; margin-right: 10px;"
        (click)="search()"
      >
        查询
      </button>
      <button nz-button nzType="default" style="width: 70px;" (click)="reset()">
        重置
      </button>
    </div>
  </div>

  <div nz-row class="div_contain">
    <div class="div_top">
      <div class="fl div_top_tip"></div>
      <div class="fl" style="color: #0050b3;">
        监管法规信息（共{{ totalCount }}条）
      </div>

      <div class="fr" *ngIf="canManage">
        <button
          nz-button
          nzType="danger"
          nz-popconfirm
          nzTitle="确定删除吗?"
          (nzOnConfirm)="delete()"
        >
          删除
        </button>
      </div>

      <div class="fr" *ngIf="canManage">
        <button
          nz-button
          nzType="primary"
          style=" margin-right: 10px;"
          (click)="modify()"
        >
          编辑
        </button>
      </div>

      <div class="fr" *ngIf="canManage">
        <button
          nz-button
          nzType="primary"
          style=" margin-right: 10px;"
          (click)="add()"
        >
          添加
        </button>
      </div>

      <div class="fr" *ngIf="canManage">
        <button
          nz-button
          nzType="primary"
          style="margin-right: 10px;"
          (click)="exportLaw()"
        >
          导出
        </button>
      </div>

    </div>
    <div>
      <nz-table
        #nestedTable
        [nzData]="dataSet"
        class="commontable tablescoll_rainbow"
        [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"
      >
        <thead>
          <tr>
            <th style="width: 10%">序号</th>
            <th style="width: 20%">法规文号</th>
            <th style="width: 50%">法规名称</th>
            <th style="width: 10%">发布日期</th>
            <th style="width: 10%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of nestedTable.data; index as index"
            [ngClass]="{ true: 'itemSeleted', false: '' }[data.id == selectId]"
            (click)="selectItem(data)"
          >
            <td style="width: 10%">
              {{ (pageIndex - 1) * pageSize + 1 + index }}
            </td>
            <td style="width: 20%">{{ data.code }}</td>
            <td style="width: 50%">{{ data.name }}</td>
            <td style="width: 10%">{{ data.releaseDate | recordtime }}</td>
            <td style="width: 10%">
              <a (click)="show(data)">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
