<div style="height: 100%;">

  <div nz-row class="div_contain">

    <div class="div_top">
      <div class="fl div_top_tip">

      </div>
      <div class="fl" style="color: #0050b3;">
        年度报告信息（共{{totalCount}}条）
      </div>

      <div class="fr">
        <button nz-button nzType="danger" nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete()">删除</button>
      </div>
      
      <div class="fr">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="modify()">编辑</button>
      </div>
      
      <div class="fr">
        <button nz-button nzType="primary" style=" margin-right: 10px;" (click)="add()">添加</button>
      </div>


    </div>
    <div>
      <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false"
        [nzPageIndex]="pageIndex" nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)">
        <thead>
          <tr>
            <th>序号</th>
            <th>年度报告时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nestedTable.data;index as index" [ngClass]="{true:'itemSeleted',false:''}[data.reportId==selectId]" (click)="selectItem(data)">
            <td>{{(pageIndex-1)*pageSize+1+index}}</td>
            <td>{{data.reportYear|recordtime:'year'}}</td>
            <td>
              <a (click)="show(data)">查看</a>
              <!-- <nz-divider nzType="vertical"></nz-divider>
              <a (click)="show(data,false)">修改</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="delete(data)">删除</a> -->
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </div>

  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzOkText]="okText" nzCancelText="取消" (nzOnOk)="save();"
    (nzOnCancel)="isVisible=false;" nzWidth="800px" [nzOkLoading]="isSaving">

    <div style="padding: 10px 30px 50px 0;">

        <div nz-row class="ma_b20">
            <div nz-col [nzSpan]="4" class="ta_r">
                年度报告时间：
            </div>
            <div nz-col [nzSpan]="8" class="ta_l">
              <nz-year-picker name="reportDate" [(ngModel)]="data.reportYear">
              </nz-year-picker>
            </div>
          </div>

      <app-attachment [fileList]="fileList" [refid]="data.reportId"  [isDisable]="isShow"></app-attachment>
    </div>
  </nz-modal>

  <nz-modal [(nzVisible)]="isShow" nzTitle="年度报告详情" nzOkText="关闭" nzWidth="800px" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">

  <div style="padding: 10px 20px;">

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
          年度报告时间：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <span name="reportYear">{{data.reportYear|recordtime:'year'}}</span>
      </div>
    </div>

    <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>
  
  </div>
</nz-modal>
</div>