.setting-item {
  min-height: 48px;
  padding: 0 16px;
  margin: 8px 0;
  background-color: #F2F2F2;

  div[nz-col] {
    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: right;
    }

    &:nth-child(3) {
      text-align: right;
    }

    .slider-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        flex-grow: 1;
      }

      span {
        display: inline-block;
        width: 60px;
      }
    }
  }
}

.setting-container {
  margin-top: 16px;
  background-color: #F2F2F2;
  padding: 8px 16px;

  .container-header {
    height: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  nz-divider {
    margin: 0 8px;
  }

  .setting-item {
    padding: 0;
    margin: 0;
  }
}
