<div style="height: 100%;background:#fff">
  <div class="div_top_add">
    核安全设备许可信息
  </div>
  <div class="div_contain_add" *ngIf="isShow==false" [appPageHeight]='300'>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>设备名称：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <input nz-input name="name" [(ngModel)]="data.name" required [validation]="true"  [validationType]="'maxlength'" [validationLenth]="40"/>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>核设备单位：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.equipDepartId" style="width:100%"  required [validation]="true" >
          <nz-option *ngFor="let option of equipDepartList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>营运单位：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select name="serviceId" [(ngModel)]="data.serviceId" style="width: 100%"  required [validation]="true"  (ngModelChange)="serviceDepartChange($event)">
          <nz-option *ngFor="let option of serviceDepartList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>设施名称：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.facId" style="width: 100%"  required [validation]="true" >
          <nz-option *ngFor="let option of facList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>设备类别：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.typeId" style="width: 100%"  required [validation]="true" >
          <nz-option *ngFor="let option of dictionary.config_equip_type" [nzLabel]="option.value" [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>核安全级别：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.levelId" style="width:100%" required [validation]="true">
          <nz-option *ngFor="let option of dictionary.config_equip_level" [nzLabel]="option.value"
            [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>
    </div>


    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>许可阶段：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <nz-select [(ngModel)]="data.stageId" style="width: 100%" required [validation]="true" >
          <nz-option *ngFor="let option of dictionary.config_equip_permit_stage" [nzLabel]="option.value"
            [nzValue]="option.id">
          </nz-option>
        </nz-select>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>许可时间：
      </div>
      <div nz-col [nzSpan]="4" class="ta_l">
        <nz-date-picker name="permitDate" [(ngModel)]="data.permitDate" required [validation]="true">
        </nz-date-picker>
      </div>
    </div>


    <div nz-row class="ma_b20">
      <div nz-col [nzSpan]="4" class="ta_r">
        <span class="clo_r">*</span>有效期限：
      </div>
      <div nz-col [nzSpan]="4" class="ta_l">
        <nz-date-picker name="validateTime" [(ngModel)]="data.validateTime" required [validation]="true">
        </nz-date-picker>
      </div>

      <div nz-col [nzSpan]="4" class="ta_r" [nzOffset]="4">
        <span class="clo_r">*</span>许可文号：
      </div>
      <div nz-col [nzSpan]="8" class="ta_l">
        <input nz-input name="licence" [(ngModel)]="data.licence" required [validation]="true"  [validationType]="'maxlength'" [validationLenth]="50"/>
      </div>
    </div>


    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="4" class="ta_r">
        许可条件：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="condition" style="height: 70px;" [(ngModel)]="data.condition"></textarea>
      </div>
    </div>

    <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
      <div nz-col [nzSpan]="4" class="ta_r">
        审评承诺：
      </div>
      <div nz-col [nzSpan]="20" class="ta_l">
        <textarea nz-input name="promise" style="height: 70px;" [(ngModel)]="data.promise"></textarea>
      </div>
    </div>

    <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>
  </div>

  <div class="div_contain_add" *ngIf="isShow==true" [appPageHeight]='300'>

      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          设备名称：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="name" class="showText">{{data.name}}</span>
        </div>
  
        <div nz-col [nzSpan]="4" class="ta_r">
          核设备单位：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="equipDepartName" class="showText">{{data.equipDepartName}}</span>
        </div>
      </div>
  
      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          营运单位：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="serviceDepartName" class="showText">{{data.serviceDepartName}}</span>
        </div>
  
        <div nz-col [nzSpan]="4" class="ta_r">
          核设施：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="facName" class="showText">{{data.facName}}</span>
        </div>
      </div>
  
      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          设备类别：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="typeValue" class="showText">{{data.typeValue}}</span>
        </div>
  
        <div nz-col [nzSpan]="4" class="ta_r">
          核安全级别：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="levelValue" class="showText">{{data.levelValue}}</span>
        </div>
      </div>
  
  
      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          许可阶段：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="stageValue" class="showText">{{data.stageValue}}</span>
        </div>
  
        <div nz-col [nzSpan]="4" class="ta_r">
          许可时间：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="permitDate" class="showText">{{data.permitDate|recordtime}}</span>
        </div>
      </div>
  
  
      <div nz-row class="ma_b20">
        <div nz-col [nzSpan]="4" class="ta_r">
          有效期限：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="validateTime" class="showText">{{data.validateTime|recordtime}}</span>
        </div>
  
        <div nz-col [nzSpan]="4" class="ta_r">
          许可文号：
        </div>
        <div nz-col [nzSpan]="8" class="ta_l">
            <span name="licence" class="showText">{{data.licence}}</span>
        </div>
      </div>
  
  
      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          许可条件：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
            <div  class="showTextArea">{{data.condition}}</div>
        </div>
      </div>
  
      <div nz-row class="ma_b20" [nzType]="'flex'" [nzAlign]="'top'">
        <div nz-col [nzSpan]="4" class="ta_r">
          审评承诺：
        </div>
        <div nz-col [nzSpan]="20" class="ta_l">
            <div  class="showTextArea">{{data.promise}}</div>
        </div>
      </div>
  
      <app-attachment [fileList]="fileList" [refid]="data.id" [isDisable]="isShow"></app-attachment>
    </div>

  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="div_bottom_add" [nzJustify]="'end'">
    <button nz-button nzType="primary" (click)="save()" *ngIf="!isShow" style="margin-right: 10px;"
      [nzLoading]="isSaving">
      保存
    </button>
    <button nz-button nzType="default" (click)="close()">关闭</button>
  </div>
</div>