.div_top{
    height: 50px;
    color: #666666;
    border-bottom: 1px solid #e5e5e5;
}

.div_bottom{
    height: 50px;
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    right: 0px;
    padding-right: 40px;
    border-top: 1px solid #e5e5e5;
}